<% @title=": Contact Us" %>


<script type="text/javascript">
    mixpanel.track("contact_us", {

    });
</script>





<body style="background-color:#eee;">

<div class="header dashboard_header">
  <%= link_to root_path do %>
	  <div class="dashboard-header-logo-block"> 
	  	<%= image_tag("savvysaverlogo.png", class:"dashboard-header-logo") %>
	    <br />
	  </div>
	<% end %>
</div>

<div class="lp_subline about-blurb" >
	<div class="about-blurb-headline">Contact Us</div>
	<br />
	<p>We'd love to hear from you!</p>
	<br />
	<p><b>Email:</b> info@getsavvier.com</p>
	<br />
	<p><b>Phone:</b> 425-502-5280</p>
	<br />
	<p><b>Or submit a note</b></p>
	<%= form_for @question do |f| %>
		<p>Question or comment</p>
		<%= f.text_area :message %>
		<p>Your email if you'd like us to respond</p>
		<%= f.text_field :email_contact, class: "madlib-sentence border-underline", placeholder: "email address"  %>
		<br />
		<%= f.submit "Submit" %>
	<% end %>
</div>

</body>