<script type="text/javascript">
    mixpanel.track("services_betterment", {

    });
</script>
<script>
$(document).ready(function() {
  $('#betterment').click(function() {
    $('#instructions').hide();
    $('#follow_up').removeClass('hiddendiv');
  });

  $('#investment_stuck').click(function() {
    $('#stuckField').removeClass('hiddendiv');
    $('#stuckField').focus();
  });
});
</script>

<div class="edu-block">
  <div id="instructions">
  <div class="intro_image_block"><%= image_tag("betterment_logo.png", style:"width:250px;height:auto;") %> </div>
  <div class="big-headline">
      Awesome, we love Betterment!
  </div>
	<p>Betterment does a good job walking you through the process of setting up an account and making an investment.</p>
	<p>You'll need the following info ready:</p>
      <ul>
        <li style="margin-bottom:10px;">Your social security number <br />(this is required for every new investment)</li>
        <li>Your bank account username & password <br />(to transfer money into Betterment)</li>
      </ul>
      <br />
      <%= link_to "Set up Betterment", "https://www.betterment.com/", target: "_blank", id: "betterment", class: "next-button" %>
      <br /> <br />
      (and come back here after you're done for a surprise treat!)
    </div>
  <div id="follow_up" class="hiddendiv">
    <div class="big-headline">
        Let us know whether you made an investment!
    </div>
    <p>We'd really love to hear about your experience investing so that we can keep improving Savvy.</p>
    <br />
    <div class="option-row">
    <%= link_to "I invested!", dashboard_invested_path, class: "next-button"%> 
    </div>
    <div class="option-row">
    <input type="button" id="investment_stuck" class="short-option-button" value="I got stuck :(">
    </div>
    <div id="stuckField" class="hiddendiv">
      <%= form_for @investing_profile do |f| %>
        <%= f.hidden_field :knows_amount_to_invest, value: "No" %>
        <div class="">
          <%= f.text_area :got_stuck, placeholder: "Tell us where you got stuck...", class: 'custom-text-area', :autofocus=>true %>
        </div>
        <%= f.submit "Send", class: "next-button" %>
      <% end %>
    </div>

  </div>
</div>
	

 </div>
 <div class="edu-block">
 </div>