
<div class="headline">Diving a bit deeper, we'll directly compare these two services in terms of the following:</div>
<br />
	<div class="row is-table-row">
		<div class="col-sm-3 col-md-3 col-lg-3">
			<div class="factors-icons"><%= image_tag("fees_icon.png", class:"factors-icons") %></div>
			<div class="factors-text">Fees</div>
		</div>
		<div class="col-sm-3 col-md-3 col-lg-3">
			<div class="factors-icons"><%= image_tag("ease_icon.png", class:"factors-icons") %></div>
			<div class="factors-text">Ease of Use</div>
		</div>
		<div class="col-sm-3 col-md-3 col-lg-3">
			<div class="factors-icons"><%= image_tag("flex_icon.png", class:"factors-icons") %></div>
			<div class="factors-text">Flexibility</div>
		</div>
		<div class="col-sm-3 col-md-3 col-lg-3">
			<div class="factors-icons"><%= image_tag("rep_icon.png", class:"factors-icons") %></div>
			<div class="factors-text">Reputation</div>
		</div>
	</div>




<div class="button-row">
<%= link_to "Next", services_overview_path, class:"next-button" %>
</div>
