<script type="text/javascript">
    mixpanel.track("services_recommendation", {

    });
</script>
<script>
$(document).ready(function() {
	$('a[href*="#anchor1"]:not([href="#"])').click(function() {
	if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
	  var target = $(this.hash);
	  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
	  if (target.length) {
	    $('html, body').animate({
	      scrollTop: target.offset().top
	    }, 1000);
	    
	    return false;
	  }
	}
	});



});
</script>

<div class="edu-block">
	<div class="big-headline">Choosing an investment site
	</div>
	<div class="headline">
	There are a lot of investment sites out there. We've researched them and narrowed to just 2 options based on reviews, reputation, fees, ease of use, and flexibility. Here's a quick summary.
	</div>
		<div class="row is-table-row services-row">
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0;">
				<%= image_tag("vanguard_icon.png", class:"services-icon") %>
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 services-text-col">
				<div class="headline">Vanguard is best for you if you <br />
				
					<ul>
						<li >want the lowest fees</li>
						<li >want to take more control over your portfolio</li>
						<li >are comfortable with a clunky UI</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row is-table-row services-row">
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0;">
				<%= image_tag("betterment_icon.png", class:"services-icon") %>
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 services-text-col">
				<div class="headline">Betterment is best for you if you <br />
				
					<ul>
						<li >want to invest and forget about it</li>
						<li >want an easy-to-use website and mobile app</li>
					</ul>
				</div>
			</div>
		</div>

	<div class="headline">
		<a href="#anchor1" class="next-button">Continue</a>
	</div>
</div>


<div class="edu-block" id="anchor1">
	<% if @post_investment_goal == "I want to spend very little time and effort on my investments in the future." %>
		<div class="headline">
			Based on everything you've told us, we recommend: 
		<h3> Betterment </h3>
		</div><br />
		<p class="headline">
			This is because you mentioned you want to spend very little time and effort on investing. Betterment will manage and rebalance your investment portfolio without you having to think about it.
		</p>
	
	<% elsif @post_investment_goal == "I want to actively choose my investments in the future."  %>
		<div class="headline">
			Based on everything you've told us, we recommend: 
		<h3> Vanguard </h3>
		</div><br />

		<p class="headline">
			
			This is because you mentioned you want to play an active role in choosing your investments in the future. Vanguard gives you a lot more flexibility than Betterment to manage your investment portfolio. As you get more comfortable, Vanguard gives you the option to choose particular index funds or even stocks without having to create a new account.
		</p>


	<% elsif @post_investment_goal == "I want to learn more and experiment as I get more comfortable." %>
		<div class="headline">
			Based on everything you've told us, we recommend: 
		<h3> Vanguard </h3>
		</div><br />
		<p class="headline">
			
			This is because you mentioned you want to learn and experiment. Vanguard has more flexibility so you'll be able to experiment with your investment portfolio. As you get more comfortable, Vanguard gives you the option to choose particular index funds or even stocks without having to create a new account.
			
		</p>



	<% elsif @post_investment_goal == "I don't plan to invest more in the future." %>
		<div class="headline">
			Based on everything you've told us, we recommend: 
		<h3> Betterment </h3>
		</div><br />
		<p class="headline">
			We recommend Betterment because you mentioned you don't want to invest more in the future. Betterment will manage your investment portfolio without you having to think about it.
		</p>

	<% end %>
		
		The choice is yours. Which service would you prefer?
		<p class="headline">
			<div class="row is-table-row">
				<div class="col-sm-5 col-md-5 col-lg-5">
					<%= link_to (image_tag("vanguard_logo.png", class:"services-logo services-button")), investing_profile_path(@investing_profile, investing_profile: {service_choice: "Vanguard"}), method: :put %>
				</div>
				<div class="col-sm-5 col-md-5 col-lg-5">
					<%= link_to (image_tag("betterment_logo.png", class:"services-logo services-button")), 
					investing_profile_path(@investing_profile, investing_profile: {service_choice: "Betterment"}), method: :put %>
				</div>
			</div>
		</p>

		<p class="services-moreinfo">
			<%= link_to "(Read more about the trade-offs between these 2 services)", services_summary_path, class:"services-moreinfo" %>
		</p>

</div>
	