<script type="text/javascript">
    mixpanel.track("services_vanguard", {

    });
</script>
<script>
$(document).ready(function() {
	$('#vanguard').click(function() {
    $('#instructions').hide();
    $('#follow_up').removeClass('hiddendiv');
  });

  $('#investment_stuck').click(function() {
    $('#stuckField').removeClass('hiddendiv');
    $('#stuckField').focus();
  });

});
</script>

<div class="edu-block" style="margin-top:-10%; margin-left:10%">
	<div id="instructions">
		<div class="big-headline">
				Making your investment
		</div>
		<div class="edu-para">
			<p>As a heads up, Vanguard's setup process is a bit clunky. Muscle through – it's worth it! Here are a few tips on what you'll need to set up your account:</p>
			<ul>
				<li style="margin-bottom:10px;">Your social security number <br />
				(this is required for every new investment)</li>
				 <li style="margin-bottom:10px;">Your bank account username & password <br />(to transfer money into Vanguard)</li>
				<li>Vanguard will ask you what you want to do with your <%= link_to "dividends", "http://www.investopedia.com/articles/investing/082415/how-mutual-funds-pay-dividends-overview.asp", target: "_blank" %> - we recommend choosing "reinvest" so that your money automatically gets reinvested in this fund and grows </li>
			</ul>
			<p>Once you get to Vanguard, hit the "Buy" button (as shown in the image below). Vanguard will walk you through the setup process from there.</p>
			<div>
			<%= link_to "Set up Vanguard", vanguard_url, target: "_blank", id: "vanguard", class: "next-button" %></div><br />
			<div class="intro_image_block"><%= image_tag("Vanguard_target_date_fund.png", style:"width:70%;height:auto;") %> </div>
			
		</div>
	</div>
	<div id="follow_up" class="hiddendiv">
		<div class="big-headline">
				Let us know when you've invested!
		</div>
		<p>We'd really love to hear about your experience investing, so that we can keep improving Savvy.</p>
		 <div class="option-row">
		    <%= link_to "I invested!", dashboard_invested_path, class: "next-button"%> 
	    </div>
	    <div class="option-row">
		    <input type="button" id="investment_stuck" class="short-option-button" value="I got stuck :(">
	    </div>
	    <div id="stuckField" class="hiddendiv">
	      <%= form_for @investing_feedback do |f| %>
	        <%= f.hidden_field :knows_amount_to_invest, value: "No" %>
	        <div class="">
	          <%= f.text_area :got_stuck, placeholder: "Tell us where you got stuck...", class: 'custom-text-area', :autofocus=>true %>
	        </div>
	        <%= f.submit "Send", class: "next-button" %>
	      <% end %>
		</div>
	</div>
</div>