<script type="text/javascript">
    mixpanel.track("services_vanguard", {

    });
</script>

<div class="edu-block">
	<div class="intro_image_block"><%= image_tag("vanguard_logo.png", style:"width:250px;height:auto;") %> </div>
	<div class="big-headline">
			Awesome, we love Vanguard!
	</div>
	<p>The easiest way to get started with Vanguard is to invest in something called a target date fund.</p>
	<p>Target date funds are set up to slowly shift your investment mix to be more conservative as you get closer to your "target date", often retirement. Specifically, they'll keep you invested in 90% stocks / 10% bonds until about 25 years prior to your target date, at which point they'll slowly shift your investment mix to have more bonds than stocks. Bonds are less volatile, so this reduces risk as you approach retirement.</p>
	<p>We recommend choosing a target date fund that roughly lines up with when you would turn 65 (or the age you plan to retire). Based on your age, our recommendation would be the <strong><%= target_date_for_user %> target date fund.</strong></p>
	<p>Click the target date fund you'd like to invest in:</p>
	
  <div class="row is-table-row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    	<%= form_for @investing_profile do |f| %>
        <%= f.hidden_field :vanguard_target_date, value: "#{target_date_for_user.to_i - 5}" %>
        <%= f.submit "#{target_date_for_user.to_i - 5}", class:"short-option-button" %>
      <% end %>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    	<%= form_for @investing_profile do |f| %>
        <%= f.hidden_field :vanguard_target_date, value: "#{target_date_for_user}" %>
        <%= f.submit "#{target_date_for_user}", class:"short-option-button" %>
      <% end %>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <%= form_for @investing_profile do |f| %>
        <%= f.hidden_field :vanguard_target_date, value: "#{target_date_for_user.to_i + 5}" %>
        <%= f.submit "#{target_date_for_user.to_i + 5}", class:"short-option-button" %>
      <% end %>
    </div>
 </div>
</div>
