

<% @title=": Invite a Friend" %>
<script type="text/javascript">
    mixpanel.track("invite", {

    });
</script>

<script>
  $('document').ready(function() {
    $(".alert").animate({opacity:'0'}, 3000).hide(1500);
    
    $( "#show_form" ).on('click', function() {
      $("#show_form").addClass('hidden');
      $("#change_url").removeClass('hidden');
    });

    $( "#signin_link" ).on('click', function() {
      $("#create_account").addClass('hidden');
      $("#sign_in").removeClass('hidden');
    });

    $( "#create_link" ).on('click', function() {
      $("#sign_in").addClass('hidden');
      $("#create_account").removeClass('hidden');
    });

    $( "#shareBtn" ).on('click', function() {
      FB.ui({
        method: 'share',
        display: 'popup',
        href: 'http://www.getsavvier.com/invite',
      }, function(response){});
    });

  });
</script>


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1477024708992163',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>



<% if current_customer %>

 <div class="header saver-header">
  <div class="saver-header-icon-block"><%= image_tag("piggybank2.png", class:"saver-header-icon") %> </div>
  <div class="saver-header-logo-block"> <%= image_tag("savvysaverlogo.png", class:"saver-header-logo") %></div>
  Sign Out
  <br /> <hr class="saver-hr"/>
 </div>

 <div class="refer-title-block">
    <div class="refer-headline" style="color:#333333;">Let’s start spreading the love (and the wealth). </div>
  <div class="refer-tagline">Invite more, earn more. You’ll earn $10 for every friend you invite who signs up and saves money with Savvy.</div>
</div>

  <div class="invite-link-block">
    <div class="email-column col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="refer-type-title">INVITE VIA EMAIL</div>
 
    <%= form_for @invite do |f| %>

      <div class="">
          <%= f.text_area :receiver_email, class: "email-textarea", placeholder: "your friends' email addresses", required: true %>
      </div>
      <div class="" style="margin-top:10px;">
        <%= f.text_area :email_message, class: "email-body-textarea", placeholder: "Hey there, I tried out this new service...", required: true %>
      </div>
      <br /> 
     
      <%= f.submit "Send invite", class: "next-button" %>
      <br />
    <% end %>

    <br />
    </div>

    <div class="fb-link-column col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="refer-type-title">POST TO FACEBOOK</div>
      <br />
      <div id="shareBtn" class="btn btn-success clearfix">Share</div>
      <br /><br />


      <div class="refer-type-title">YOUR SPECIAL INVITE LINK </div><br/>
      <%= link_to "www.getsavvier.com/r/#{current_customer.invite_url_param}", "/r/#{current_customer.invite_url_param}", :class=>"editable-link" %>
      <%= link_to "Copy Link", :class=>"copy-link" %>
      <br /><br />
      <%= link_to "Edit your link", "javascript:;", id: "show_form" %>
      
      <div id= "change_url" class="hidden">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          www.getsavvier.com/r/<div class="dropdown-style">
            <%= f.text_field :invite_url_param, class: "madlib-sentence border-underline", style: "width:300px;" %>
          </div>
          <%= f.submit "Update link", class: "next-button" %>
        <% end %>
      </div>
        <% if flash[:error] %>
             <div class="alert alert-danger">
               <%= flash[:error] %>
             </div>
        <% end %>

    </div>
  </div>

  <!--
      <%= form_for @invite do |f| %>

    
      
      <br /> <br />
      All we need from you is your <span style="font-weight:700;"> friend's email </span>(so we can send them the invite) and a <span style="font-weight:700;"> message </span> to send them.
      <br /> <br />
      
      <div class="dropdown-style">
          <%= f.email_field :receiver_email, class: "madlib-sentence border-underline", style:"width:300px;", placeholder: "your friend's email address", required: true %>
      </div>
      <br />
      <div class="dropdown-style" style="margin-top:10px;">
        <%= f.text_field :email_message, class: "madlib-sentence border-underline", style:"width:300px;", placeholder: "Hey there, I tried out this new service...", required: true %>
      </div>
      <br /> <br />
     
      <%= f.submit "Send invite", class: "next-button" %>
      <br /><br /><br /><br />
    </div>

      <% end %>
    -->

  <% else %>

    <body style="background-color: #a7d3b9;">
      <div class="header invite-header">
        <div class="hero-title">Be a hero.</div>
        <div class="hero-tagline">Help others save hundreds with no effort. 
      Because everyone likes $$ and no one likes their cable company.</div>
      </div>

  <div class="inviter-content">
    <div class="inviter-image-block">
      <%= image_tag("invite_flying_pig.png", class:"inviter-image") %>
    </div>
    <div class="inviter-signin">

      <div class="hero-title">Get $10 for every friend that saves with Savvy.</div><div class="spaced-row"></div>

      <div id="create_account">
      Create an account to send invites and track your rewards <br /><br />

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

            <a name="email"></a>
        
                
              <div class="dropdown-style">
                  <%= f.email_field :email, value: (params[:email]), class: "border-underline", style:"width:300px;", placeholder: "email address" %>
              </div>
              <br /> <br />
              <div class="dropdown-style">
                <%= f.password_field :password, class: "border-underline", style:"width:300px;", placeholder: "password (at least 6 characters)", autocomplete: "off" %>
              </div>
              <br />

              <div class="spaced-row"></div>
                
              <%= f.submit "Create Account", class: 'invite-button' %>
            
              <%= link_to "(or Sign In)", "javascript:;", id: "signin_link", class: "signin-link" %>
        <% end %>
      </div>

      <div id="sign_in" class="hidden">
        Sign in to send invites and track your rewards <br /><br />

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="dropdown-style">
            <%= f.email_field :email, value: (params[:email]), class: "border-underline", style:"width:300px;", placeholder: "email address" %>
          </div>
          <br /> <br />
          <div class="dropdown-style">
            <%= f.password_field :password, class: "border-underline", style:"width:300px;", placeholder: "password", autocomplete: "off" %>
          </div>
          <br />

          <% if devise_mapping.rememberable? -%>
            <div class="row-future">
              <%= f.check_box :remember_me, class: "madlib-sentence" %>
              <%= f.label :remember_me, class:"unbolded-label" %>
            </div>
          <% end -%>

          <div class="spaced-row"></div>
          <%= f.submit "Sign In", class: 'invite-button' %>
          <%= link_to "(or Create Account)", "javascript:;", id: "create_link", class: "signin-link" %>
        <% end %>

      </div>
    </body> 
  <% end %>




