

<% @title=": Invite a Friend" %>
<script type="text/javascript">
    mixpanel.track("invite", {

    });
</script>

<script>
  $('document').ready(function() {
    $(".alert").animate({opacity:'0'}, 3000).hide(1500);
    
    $( "#show_form" ).on('click', function() {
      $("#show_form").addClass('hidden');
      $("#change_url").removeClass('hidden');
    });

    $( "#signin_link" ).on('click', function() {
      $("#create_account").addClass('hidden');
      $("#sign_in").removeClass('hidden');
      $("#hero-title").text("Sign in to Savvy");
      $("#hero-tagline").text("Get $10 for every friend that saves with Savvy.");
    });

    $( "#create_link" ).on('click', function() {
      $("#sign_in").addClass('hidden');
      $("#create_account").removeClass('hidden');
      $("#hero-title").text("Get $10 for every friend that saves with Savvy.");
      $("#hero-tagline").text("Create an account to send invites and track your rewards.");
    });

    $( "#shareBtn" ).on('click', function() {
      FB.ui({
        method: 'share',
        
        href: '<%= @invite_url %>',
      }, function(response){});
    });

    var clip = new Clipboard('.clipboard-btn');
    console.log(clip);
 
    clip.on('success', function(e) {
     
      $('.link-tooltip').show().fadeOut(2000);
    });

    

  


  });
</script>


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1477024708992163',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<meta property="og:image" content="http://www.getsavvier.com/assets/fb_sharing_image_1.png">
<meta property="og:description" content="Save hundreds on your cable/internet bill with no effort."/>


<% if current_customer %>
  <body class="city-bottom" style="overflow:auto; height:100%;">
   <div class="header invite-header">
    <div class="invite-header-icon-block"><%= image_tag("piggybank2.png", class:"saver-header-icon") %> </div>
    <hr class="invite-hr"/>
   </div>

    <div class="refer-title-block">
        <div class="refer-headline" style="color:#333333;"><%= @customer.first_name %>, invite your friends to Savvy to earn cash rewards. </div>
      <div class="refer-tagline">Spread the love by saving your friends some money with Savvy. For every friend you invite who saves money with Savvy, you’ll earn $10.</div>
    </div>

    <div class="invite-link-block">
      
      <div class="email-box">
        <div class="refer-type-title">Invite Via Email</div>
        <%= form_for @invite do |f| %>

          <div class="email-field-box">
              <%= f.text_area :receiver_email, class: "email-textarea", placeholder: "Separate each email with a comma, e.g. savvy@getsavvier.com, bob@email.com, etc.", required: true %>
          </div>
         
          <%= f.submit "Send invite", class: "invite-button" %>
        <% end %>
      </div>

      <div class="other-refer-box">
        <div class="title-container"><div class="other-refer-type-title">Or Invite Another Way</div></div>
        <div id="shareBtn" class="fb-button"><%= image_tag('fb_button_icon.png', class:"fb-button-icon") %> </div>
      
        <button class="clipboard-btn copy-link-button" data-clipboard-action="copy" data-clipboard-text="<%= @invite_url %>">
          <%= image_tag('copy_link_icon.png', class:"copy-link-icon") %>
        </button>
        <div class="copy-url"> <%= link_to @invite_url, "/r/#{current_customer.invite_url_param}", :class=>"editable-link" %>
        </div> <br />
        <div class="link-tooltip"><span class="tooltiptext">Copied!</span></div>
        <div class="spaced-row"></div><div class="spaced-row"></div>
      </div> 
    </div>   

    

    <br /><br />
  
  </body>
    <!--
      <%= link_to "Edit your link", "javascript:;", id: "show_form" %>
      
      <div id= "change_url" class="hidden">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          www.getsavvier.com/r/<div class="dropdown-style">
            <%= f.text_field :invite_url_param, class: "madlib-sentence border-underline", style: "width:300px;" %>
          </div>
          <%= f.submit "Update link", class: "next-button" %>
        <% end %>
      </div>
        <% if flash[:error] %>
             <div class="alert alert-danger">
               <%= flash[:error] %>
             </div>
        <% end %>

    </div>
  </div>

  
      <%= form_for @invite do |f| %>

    
      
      <br /> <br />
      All we need from you is your <span style="font-weight:700;"> friend's email </span>(so we can send them the invite) and a <span style="font-weight:700;"> message </span> to send them.
      <br /> <br />
      
      <div class="dropdown-style">
          <%= f.email_field :receiver_email, class: "madlib-sentence border-underline", style:"width:300px;", placeholder: "your friend's email address", required: true %>
      </div>
      <br />
      <div class="dropdown-style" style="margin-top:10px;">
        <%= f.text_field :email_message, class: "madlib-sentence border-underline", style:"width:300px;", placeholder: "Hey there, I tried out this new service...", required: true %>
      </div>
      <br /> <br />
     
      <%= f.submit "Send invite", class: "next-button" %>
      <br /><br /><br /><br />
    </div>

      <% end %>
    -->

  <% else %>

    <body class="city-bottom" style="overflow:auto; height:100%;">
      <div class="header invite-header">
        <div class="invite-header-icon-block"><%= image_tag("piggybank2.png", class:"saver-header-icon") %> </div>
        <hr class="invite-hr"/>
       </div>

      <div class="invite-logout-header">
        <div class="hero-title" id="hero-title">Get $10 for every friend that saves with Savvy.</div>
        <div class="hero-tagline"> Create an account to send invites and track your rewards. <Br />
        </div>
      </div>

    <div class="inviter-content">
      
      
      <div class="inviter-signin">
        

        <div id="create_account">

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

                <div class="referral-input-style">
                    <%= f.text_field :first_name, value: (params[:first_name]), class: "border-underline", style:"width:300px;", placeholder: "first name" %>
                </div>
                <br /> <br />
                <div class="referral-input-style">
                    <%= f.email_field :email, value: (params[:email]), class: "border-underline", style:"width:300px;", placeholder: "email address" %>
                </div>
                <br /> <br />
                <div class="referral-input-style">
                  <%= f.password_field :password, class: "border-underline", style:"width:300px;", placeholder: "password (at least 6 characters)", autocomplete: "off" %>
                </div>
                <br />

                <div class="spaced-row"></div>
                  
                <%= f.submit "Create Account", class: 'invite-button' %>
                <div class="spaced-row"></div>
                <%= link_to "(Or Sign In)", "javascript:;", id: "signin_link", class: "signin-link" %>
          <% end %>
        </div>

        <div id="sign_in" class="hidden">
          

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="referral-input-style">
              <%= f.email_field :email, value: (params[:email]), class: "border-underline", style:"width:300px;", placeholder: "email address" %>
            </div>
            <br /> <br />
            <div class="referral-input-style">
              <%= f.password_field :password, class: "border-underline", style:"width:300px;", placeholder: "password", autocomplete: "off" %>
            </div>
            <br />

            <% if devise_mapping.rememberable? -%>
              <div style="margin-top:10px;">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, class:"unbolded-label" %>
              </div>
            <% end -%>

            <div class="spaced-row"></div>
            <%= f.submit "Sign In", class: 'invite-button' %>
            <div class="spaced-row"></div>
            <%= link_to "(or Create Account)", "javascript:;", id: "create_link", class: "signin-link" %>
          <% end %>

        </div>
      </div>
    </div>

  </body> 
<% end %>





