<% @title=": Invite a Friend" %>
<script type="text/javascript">
    mixpanel.track("invite_thanks", {

    });
</script>

<script>
  $('document').ready(function() {
    $(".alert").animate({opacity:'0'}, 3000).hide(1500);
    
    $( "#show_form" ).on('click', function() {
      $("#show_form").addClass('hidden');
      $("#change_url").removeClass('hidden');
    });


    $( "#shareBtn" ).on('click', function() {
      FB.ui({
        method: 'share',
        
        href: '<%= @invite_url %>',
      }, function(response){});
      mixpanel.track("thanks_fb_share", {});
    });

    var clip = new Clipboard('.clipboard-btn');
    console.log(clip);
 
    clip.on('success', function(e) {
     
      $('.link-tooltip').show().fadeOut(2000);
      mixpanel.track("thanks_copy_link_share", {});
    });

    $('#more-emails').on('click', function() {
      mixpanel.track("thanks_more_emails", {});
    });

  });
</script>


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1477024708992163',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>



<body class="city-bottom" style="overflow:auto; height:100%;">
	<div class="header invite-header">
		<div class="invite-header-icon-block"><%= image_tag("piggybank2.png", class:"saver-header-icon") %> </div>
		<hr class="invite-hr"/>
	</div>



	<div class="refer-title-block">
        <div class="refer-headline" style="color:#333333;"><%= @customer.first_name %>, thanks for sharing! </div>
      <div class="refer-tagline">Keep an eye on your inbox – we’ll let you know each time a friend saves with Savvy and you can collect your $10.</div>
    </div>
    <Br /><br />
    <div class="other-refer-box">
        <div class="title-container"><div class="other-refer-type-title">Send More Invites</div></div>
        <div id="shareBtn" class="fb-button"><%= image_tag('fb_button_icon.png', class:"fb-button-icon") %>  
          <span style="color:#fff">Share on Facebook </span> 
        </div>
        
        <button class="clipboard-btn copy-link-button" data-clipboard-action="copy" data-clipboard-text="<%= @invite_url %>">
          <%= image_tag('copy_link_icon.png', class:"copy-link-icon") %> <span style="color:#fff"> Copy your unique link </span>
        </button>
        <br />
        <div class="link-tooltip"><span class="tooltiptext">Copied!</span></div>
        <div class="spaced-row"></div><div class="spaced-row"></div>
        <%= link_to "Or Send More emails", "https://www.getsavvier.com/invite", :class=>"signin-link", :id=>"more-emails", :style=>"margin-top:3%;" %>
    </div> 
    <br />
    

  </div>  




<div class="rewards">
    <span class="refer-headline">Your Total Rewards: $<%= @customer.invites.where(saved_money: true).count * 10 %> </span>
    <% if @customer.invites.where(saved_money: true).count * 10 == 0 %>
      <br /><div class="refer-tagline">Send some invites to get those rewards!</div>
    <% end %>
</div>
<div class="spaced-row"></div>
</body>