<% @title=": Feedback" %>
<script type="text/javascript">
    mixpanel.track("feedback", {
        
    });
</script>


<div class="edu-block">

	<div class="centered-title">
		<div class="big-headline">
			Thanks in advance for your feedback!
		</div>
	</div>



	
	<%= form_for @feedback do |f| %>


		
	How likely are you to recommend Savvy to a friend?
	<div class="spaced-row ">
		<div class="madlib-sentence">			
			<div class="dropdown-style inner-addon right-addon">
				<%= f.select :nps, [['1 (not at all)', 1], 2, 3, 4, 5, 6, 7, 8, 9, ['10 (extremely)', 10]], {prompt: "(this much)"}, :class => "btn-group my-dropdown" %>
				<span class="glyphicon">
					<%= "\u25BE" %>
				</span></div>
		</div>
	</div>	
		
	<div class="spaced-row">
	Based on this experience, how much do you trust Savvy?
	
	<div class="spaced-row">
		<div class="madlib-sentence">			
			 <div class="dropdown-style inner-addon right-addon">
				<%= f.select :trust, [['1 (not at all)' ,1], 2, 3, 4, ['5 (completely)',5]], {prompt: "(this much)"}, :class => "btn-group my-dropdown" %>
				<span class="glyphicon">
					<%= "\u25BE" %>
				</span>
			  </div>
			
		</div>
	</div>	
	</div>
	
		
	<div class="spaced-row">
		<div class="edu-para">			
			Any other thoughts on your experience with Savvy so far? 
			<div class="spaced-row">
			<%= f.text_area :comment, :class=>"custom-text-area" %>
			</div>
			
		</div>
	</div>	




			<%= f.submit "Next", class: 'next-button' %>

	
	<% end %>
</div>
