<% @title=": Home" %>
<script type="text/javascript">
    mixpanel.track("homepage", {
        
    });
</script>



<body class="homepage-background">

	<section id="top-nav">
		<%= image_tag("savvy_logo_subtle.png", class:'subtle-logo' )%>
	</section>

	<section id="action-items">
		<% if @user.fin_profile.biggest_expense == nil %>
			<div class="action-title">
				We'll be reaching out to you soon!
			</div>

		<% else %>
			<div id="circle">
				<%= image_tag(challenge_icon, class:'challenge_header_image' )%>
			</div>

			<div class="action-title">
				<%= biggest_expense_word.titlecase %> Challenge
				<br />
				Day <%= ((Time.now - @user.updated_at)/1.day).round(0) + 1 %> of 5
			</div>

			<div class="action">
				<%= challenge_subtext %> <%= challenge_frequency %> times this week.
				<br />
				<div class="savvy-boost">
				(Tap a piggy bank below everytime you do)
				</div>
				<div class="challenge">
				<% (1..challenge_frequency).each do |i| %>
					<%= image_tag('button_piggy_bank_unselected.png', class:"challenge-icon") %>
				<% end %>
				</div>
			</div>
		<% end %>
	

	</section>
	

	<div class="feedback">
		<div class="spaced-row">
		<%= link_to " – Give Feedback –", dashboard_feedback_path %>
		</div>
		<div class="sign-out-icon">
			<%= link_to image_tag('sign_out.png', class:'sign-out-icon' ), destroy_user_session_path, method: :delete, :class=>'sign-out' %><%= %>
		</div>
		<div class="help-icon">
			<%= link_to image_tag('help_icon.png', class:'help-icon' ),   challenges_lets_chat_path %>
		</div>
		
	</div>
</body>