<% @title=": Home" %>
<script type="text/javascript">
    mixpanel.track("homepage", {
        
    });
</script>




<body class="splash-background">
	<div class="splash-banner">
		<div class="banner-image">
		</div>
	</div>
	<div class="splash-section">


		<% if @user.investing_profile.follow_up_prefs != nil %>
			<div class="splash-question"> Hey, <%= @user.name %>!</div>
			<div class="signup-instruction">
				We'll be reaching out soon with recommendations and steps for you. In the meantime, we'd really appreciate feedback! <br />
				<div class="button-row">
				<%= link_to "Give Feedback", dashboard_feedback_path, :class=>'next-button' %>
				</div>
			</div>
		<% elsif @user.investing_profile.follow_up_prefs == nil %>
			<div class="splash-question"> Hey, <%= @user.name %>! 
				<div class="signup-instruction">
					Our first step is to get to know you so we can put together the best options for you. <br />
					<div class="button-row">
					<%= link_to "Get Started", intro_index_path, :class=>"next-button" %>
					</div>
				</div>
			</div>
			
		<% end %>
	</div>





	<div class="secondary-links">
		<div class="eqi-container">
			<div class="footer-left">
				<%= link_to "Sign Out", destroy_user_session_path, :class=>'sign-out' , method: :delete %>
			</div><div class="footer-middle">
				<%= link_to "Get Help",   challenges_lets_chat_path, :class=>'get-help' %>
			</div><div class="footer-right">
			<%= link_to "Give Feedback", dashboard_feedback_path, :class=>'feedback' %>
			</div>
		</div>
	</div>
</body>