<% @title=": Home" %>
<script type="text/javascript">
    mixpanel.track("homepage", {
        
    });
</script>

<body class="homepage-background">

	<section id="top-nav">
		<%= image_tag("savvy-logo.png", class:'top-logo' )%>
		<%= link_to "Sign out", destroy_user_session_path, method: :delete, :class=>'sign-out' %>
	</section>
	<hr class="hr-topnav"/>

	<section id="main-dash">
		<%= image_tag("dashboard-top-background.png", class:'score-balloon-homepage')%>
		<div class="col-xs-4">	
			<div class="homepage-score-textgroup">
	      		<div class="homepage-titles">
	    			SAVVY SCORE
	  			</div>
	  			<div class="homepage-score">
		    		<%= @savvy_score %>
		  		</div>
			</div>
		</div>
		
		<div class="col-xs-5">
			<div class="homepage-cta">
				<div class="homepage-titles">
	    			FOCUS AREA
	  			</div>
	  			<div class="current-focus">
		    		<%= @current_focus.titlecase %>
		  		</div>
	 		</div>
	 				 		
	 	</div>

	</section>
	<section id="action-items">
		<hr class="hr-mission-block" />
		<% if @user.phone_number == nil %>
		<div class="action-title">CURRENT MISSION</div>
		<div class="mission">
			<%= @current_focus.titlecase %> Mini-Challenge 
		</div>
		<div class="savvy-boost">
			(+5 Savvy Points) 
		</div>
		<p>
			<%= link_to "Start", homepage_challenge_button, class: "dashboard-button" %>
		</p>

		<% else %>
				<% if @user.fin_profile.biggest_expense == nil %>
					<div class="action-title">
						We'll be reaching out to you soon!
					</div>
				<% else %>
					<div class="action-title">
						<%= 5-((Time.now - @user.updated_at)/1.day).round(0) %> DAYS LEFT!
					</div>
					<div class="mission">
						<%= @current_focus.titlecase %> Mini-Challenge 
					</div>
					<div class="savvy-boost">
						(+5 Savvy Points) 
					</div>
					<div class="challenge">
					<% (1..challenge_frequency).each do |i| %>
						<%= image_tag(challenge_icon, class:"challenge-icon") %>
					<% end %>
					</div>
					<div class="savvy-boost">
						<%= challenge_frequency %> <%= biggest_expense_word.pluralize %> left
					</div>
				<% end %>
				
			<% end %>
		
		<hr class="hr-mission-block"/>
	</section>

	<div class="feedback">
		<%= link_to " – Give us feedback –", dashboard_feedback_path %>
	</div>
</body>