<% @title=": Home" %>
<script type="text/javascript">
    mixpanel.track("homepage", {
        
    });
</script>




<body class="splash-background">
	<div class="splash-banner">
		<div class="banner-image">
		</div>
	</div>
	<div class="splash-section">
		<div class="splash-question"> Welcome, <%= @user.name %>!</div>

		<div class="signup-instruction">
			<%= link_to "Get Started", goals_introductions_path, class:"next-button" %>
		</div>



	</div>





	<div class="secondary-links">
		<div class="eqi-container">
			<div class="footer-left">
				<%= link_to "Sign Out", destroy_user_session_path, :class=>'sign-out' , method: :delete %>
			</div><div class="footer-middle">
				<%= link_to "Get Help",   challenges_lets_chat_path, :class=>'get-help' %>
			</div><div class="footer-right">
			<%= link_to "Give Feedback", dashboard_feedback_path, :class=>'feedback' %>
			</div>
		</div>
	</div>
</body>