<% @title=": Home" %>
<script type="text/javascript">
    mixpanel.track("homepage", {
        
    });
</script>




<body class="homepage-background">


	<section id="homepage-content">

<!-- if they've set up phone or text for chat_type and they haven't set their biggest_expense, then let's chat -->
		<% if (@user.chat_type != nil) && 
			@user.fin_profile.biggest_expense == nil %>
			<div class="homepage-top-content">
				<div class="balloon-note-graphic">
					<%= image_tag 'balloon_note.png', class:"balloon-note-graphic" %>
				</div>

				<div class="action">
					Thanks, <%= @user.name %>! I’m looking forward to chatting with you. I’ll be reaching out soon. 
					<br /><br />
					Your coach, <br />
					Savvy
				</div>
			</div>

<!-- if they're in the investments focus area and have finished the stock market flow -->

		<% elsif @user.fin_profile.invest_now == "Yes, I do" || @user.fin_profile.invest_decision == "Yes, let\'s invest $500" %>
			<div class="homepage-top-content">
				<div class="balloon-note-graphic">
					<%= image_tag 'balloon_note.png', class:"balloon-note-graphic" %>
				</div>
				<div class="action">
					Hi, <%= @user.name %>. Your challenge this week is to invest $500 into the stock market. Complete this challenge by visiting <%= link_to "Wealthfront", "https://www.wealthfront.com" %>.
				</div>
			</div>

			<%= link_to dashboard_savvy_score_path do %>
			<div class="ribbon-content">
				<%= image_tag("ribbon.png", class:'ribbon-image' )%>
				<div class="small-score-balloon">
				+2
				</div>
				<div class="ribbon-text">
				Complete the challenge to boost your Investments! 
				</div>
			</div>
			<% end %>

<!-- if they're in the investments focus area and have finished the retirement flow -->

		<% elsif @user.fin_profile.company_401k != nil %>
			<div class="homepage-top-content">
				<div class="balloon-note-graphic">
					<%= image_tag 'balloon_note.png', class:"balloon-note-graphic" %>
				</div>
				<div class="action">
					<% if @user.fin_profile.company_401k == "offers a 401k" %>
						Hi, <%= @user.name %>. Your challenge this week is to set up a 401k at your company.
					<% else %>
						Hi, <%= @user.name %>. Your challenge is to Your challenge this week is to set up an IRA. Complete this challenge by visiting <%= link_to "Vanguard", "https://investor.vanguard.com/ira/how-to-open-an-ira" %>.
					<% end %>
				</div>
			</div>

			<%= link_to dashboard_savvy_score_path do %>
				<div class="ribbon-content">
					<%= image_tag("ribbon.png", class:'ribbon-image' )%>
					<div class="small-score-balloon">
					+2
					</div>
					<div class="ribbon-text">
					Complete the challenge to boost your Investments! 
					</div>
				</div>
			<% end %>

<!-- if they've started the savings challenge flow, but didn't get to set their biggest_expense, let's let them finish -->
		<% elsif @user.fin_profile.biggest_expense == nil %>
			<div class="homepage-top-content">
				<div class="balloon-note-graphic">
					<%= image_tag 'balloon_note.png', class:"balloon-note-graphic" %>
				</div>

				<div class="action">
					Hi, <%= @user.name %>. Let's finish setting up your challenge. </div>
					<div class="button-row">
					<% if @current_focus == 'STUDENT LOANS' %>
						<%= link_to "Set Up My Challenge", challenges_student_loan_info_path, class: 'next-button' %>
					<% elsif @current_focus == 'CREDIT CARD DEBT' %>
						<%= link_to "Set Up My Challenge", challenges_credit_card_info_path, class: 'next-button' %>
					<% elsif @current_focus == 'SAVINGS' ||  @current_focus == 'SAVINGS HABITS' %>
						<%= link_to "Set Up My Challenge", challenges_saving_info_path, class: 'next-button' %>
					<% elsif @current_focus == 'INVESTMENTS' %>
						<% if @user.fin_profile.investments_type["retirement_fund"] == '0' %>
							<%= link_to "Set Up My Challenge", challenges_retirement_info_path, class: 'next-button' %>
						<% else %>
							<%= link_to "Set Up My Challenge", challenges_stock_market_info_path, class: 'next-button' %>
						<% end %>
					<% end %>
					</div>
				
			</div>
	

		<% else %>
			
			<div class="homepage-top-content">
				<div class="homepage-title">
					<span style="color:#4FA690">SAVVY SAVINGS CHALLENGE</span>
					<br />
					Day <%= ((Time.now - @user.updated_at)/1.day).round(0) + 1 %> of 7
				</div>

				<div class="action">
					Collect a piggybank each day you skip <%= @biggest_expense %>.
				</div>
				<div class="piggy-bank-group">
						
						<% (1..(7 - challenge_frequency)).each do |i| %>
						<% clicked = (i <= current_user.fin_profile.piggies) %>
						<%= image_tag(clicked ? 'button_piggy_bank_selected.png' : 'button_piggy_bank_unselected.png', class: "bank-icon", id: "homepage-pigs", data: {
							selected_src: asset_path('button_piggy_bank_selected.png'),
							clicked: clicked
						}) %>
					<% end %>
				</div>

				<div class="reset-pigs-block">
					<%= link_to "Oops, please reset my piggy banks", reset_piggies_fin_profiles_path, :class=>"reset-pigs" , method: :post %>
				</div>

			</div>
			<%= link_to dashboard_savvy_score_path do %>
				<div class="ribbon-content">
					<%= image_tag("ribbon.png", class:'ribbon-image' )%>
					<div class="small-score-balloon">
					+2
					</div>
					<div class="ribbon-text">
					Complete the challenge to boost your Savings Habits! 
					</div>
				</div>
			<% end %>




		<% end %>
	

	</section>
	


	<div class="secondary-links">
		<div class="eqi-container">
			<div class="footer-left">
				<%= link_to "Sign Out", destroy_user_session_path, :class=>'sign-out' , method: :delete %>
			</div><div class="footer-middle">
				<%= link_to "Get Help",   challenges_lets_chat_path, :class=>'get-help' %>
			</div><div class="footer-right">
			<%= link_to "Give Feedback", dashboard_feedback_path, :class=>'feedback' %>
			</div>
		</div>
	</div>
</body>