<% @title=": Home" %>
<script type="text/javascript">
    mixpanel.track("homepage", {
        
    });
</script>

<body class="page-background">

	<div>
    	<%= image_tag("dashboard_background2.png", class:'gradient' )%>
	</div>

	<section id="top-nav">
		<%= image_tag("savvy-logo.png", class:'top-logo' )%>
		<%= link_to "Sign out", destroy_user_session_path, method: :delete, :class=>'sign-out' %>
	</section>
	<hr class="hr-topnav"/>

	<section id="main-dash">
		<%= image_tag("dashboard-top-background.png", class:'score-balloon-homepage')%>
		<div class="col-xs-4">	
			<div class="homepage-score-textgroup">
	      		<div class="savvy-score-title">
	    			SAVVY SCORE
	  			</div>
	  			<div class="savvy-score">
		    		<%= @savvy_score %>
		  		</div>
			</div>
		</div>
		
		<div class="col-xs-5">
			<div class="homepage-cta">
				<div class="savvy-score-title">
	    			FOCUS AREA
	  			</div>
	  			<div class="current-focus">
		    		<%= @current_focus.titlecase %>
		  		</div>
	 		</div>
	 				 		
	 	</div>

	</section>
	<section id="action-items">
		<div class="action-title">YOUR MISSION</div>
		<div class="mission">
			<%= @current_focus.titlecase %> Mini-Challenge 
		</div>
		<div class="savvy-boost">
			(+5 Savvy Points) 
		</div>
		<div class="spaced-row">
		<%= link_to "Start", homepage_challenge_button, class: "dashboard-button" %>
		</div>
	</section>

	<footer>
		Give us feedback!
	</footer>
</body>