<% @title=": Home" %>
<script type="text/javascript">
    mixpanel.track("homepage", {
        
    });
</script>

<script type="text/javascript">
	function swap()
	{
		var img = document.getElementById("pig");
	   if (img.src.endsWith('unselected.png') != -1)  
	   { 
	      document.getElementById("pig").src = "/assets/button_piggy_bank_selected.png";  
	   } 
	   else
	   { 
	      document.getElementById("pig").src = "/assets/button_piggy_bank_unselected.png"; 
	   }
	}
</script>


<body class="homepage-background">


	<section id="homepage-content">
		<% if @user.fin_profile.biggest_expense == nil %>
			<div class="homepage-title">
				We'll be reaching out to you soon!
			</div>

		<% else %>
			
			<div class="homepage-top-content">
				<div class="homepage-title">
					<span style="color:#E99C4A">Savvy Savings Challenge</span>
					<br />
					Day <%= ((Time.now - @user.updated_at)/1.day).round(0) + 1 %> of 7
				</div>

				<div class="action">
					Collect a piggy bank each time you <%= challenge_subtext.downcase %> instead of <%= @biggest_expense %>.
				</div>
				<div class="piggy-bank-group">
						
						<% (1..(7 - challenge_frequency)).each do |i| %>
						<% clicked = (i <= current_user.fin_profile.piggies) %>
						<%= image_tag(clicked ? 'button_piggy_bank_selected.png' : 'button_piggy_bank_unselected.png', class: "bank-icon", data: {
							selected_src: asset_path('button_piggy_bank_selected.png'),
							clicked: clicked
						}) %>
					<% end %>

				</div>
				<div class="action">
					<%= link_to "Reset", reset_piggies_fin_profiles_path, method: :post %>
				</div>
			</div>
			<div class="ribbon-content">
				<div class="small-score-balloon">
				+5
				</div>
				<div class="ribbon-text">
				Collect all <%= 7 - challenge_frequency %> piggy banks to boost your Savvy Score! 
				</div>
			</div>




		<% end %>
	

	</section>
	


	<div class="secondary-links">
	
		
			<%= link_to image_tag('sign_out.png', class:'sign-out-icon'), destroy_user_session_path, method: :delete %>
		
			<%= link_to image_tag('help_icon.png', class:'help-icon' ),   challenges_lets_chat_path %>

		<%= link_to "Give Feedback", dashboard_feedback_path, :class=>'feedback' %>
	</div>
</body>