<script type="text/javascript">
    mixpanel.track("invested", {
        
    });
</script>

<div class="edu-block">
  <div class="edu-para">
  	<p><h3>We're so excited that you've invested!</h3></p>

		<p>We would love to hear about your experience so that we can continue to make Savvy better.</p>

		<p>Where did you end up making your investment?</p>
		<%= form_for @investing_profile do |f| %>
	    <div class="dropdown-style"> 
        <%= f.text_field :investment_service, value: (params[:investment_service]), class: "border-underline", style:"width:250px;",placeholder: "Betterment, Vanguard, or other", autocorrect: "off" %>
      </div>
      <br /><br />
      <p>How much did you end up investing?</p>
        $<%= f.telephone_field :invested_amount, class: "border-underline", style:"width:250px;", placeholder: "amount invested" %>
        <br /><br />
      <p>How would you describe your experience overall?</p>
        <%= f.text_area :investing_experience, class: "custom-text-area", placeholder: "" %>
        <br /><br />
      <p>What could have made the experience MUCH better?</p>
        <%= f.text_area :investing_better, class: "custom-text-area", placeholder: "" %>
        <br /><br />
      <%= f.submit "Submit", class:"short-option-button" %>
    <% end %>

	</div>
</div>