<% @title=": Summary" %>
<script type="text/javascript">
    mixpanel.track("dashboard_savvy_score", {
        
    });

</script>

<!--script src="js/skill.bars.jquery.js"></script-->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js">
</script>

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<body class="page-background">

  <section id="savvy-score-section">
    <div class="savvy-score-bgimage">
      <%= image_tag("savvy-score-bkgd-2.png", class:'savvy-score-bgimage' )%>
      <div class="savvy-score-textgroup">
        <div class="savvy-score-title">
          SAVVY SCORE
        </div>
        <div class="score-total">
          (out of 100)
        </div>
        <div class="savvy-score">
          <%= @savvy_score %> 
        </div>
   
      </div>
    </div>
  
  </section>

  <section id="first-priority">
    What we're tackling first:
    <br /><span class="main-question"><%= @current_focus.titlecase %></span>
  </section>

  <section id="first-priority">
    Your name:
    <br /><span class="main-question"><%= @user.name %></span>
  </section>

  <section id="first-priority">
    Your phone number:
    <br /><span class="main-question"><%= @user.phone_number %></span>
  </section>

  <section id="first-priority">
    Your email:
    <br /><span class="main-question"><%= @user.email %></span>
  </section>

  <div class="button-row">
      <%= link_to "Back to homepage", root_path, class: 'next-button' %>
  </div>

  <section id="user-section">
    <div class="spaced-row user-content">
      <div class="row-future">
        <%= link_to "Make changes to my profile", edit_user_registration_path, :class=>"reset-pigs" %>
      </div>
    </div>
  </section>
  
  <div class="page-bottom-padding">
      <div class="padding-text">
        adding space below next button
      </div>
  </div>

</body>