<% @title=": Summary" %>
<script type="text/javascript">
    mixpanel.track("dashboard_savvy_score", {
        
    });

</script>

<!--script src="js/skill.bars.jquery.js"></script-->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js">
</script>

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<body class="profile-background">

  <section id="main-dash">
    <div class="top-profile-block">

      <div class="col-xs-5">  
        <%= image_tag("score-balloon-transparent.png", class:'score-balloon-homepage')%>
        <div class="homepage-score-textgroup">
          <div class="profile-score-title">
              SAVVY SCORE
          </div>
          <div class="profile-score">
              <%= @savvy_score %>
          </div>
        </div>
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-5">
        <div class="profile-name">
              <%= @user.name %> 
        </div>
        
        <div class="contact-info">
        <span class="reset-pigs"><%= link_to "Edit", edit_user_registration_path, :class=>"reset-pigs" %></span><br/>
           <%= @user.age %> years old <br/>
          <%= @user.email %> <br/>
          <%= number_to_phone(@user.phone_number, area_code: true) %>
        </div>          
      </div>
      <div class="col-xs-1"></div>
    </div>

    <div class="focus-areas">
      <div class="col-xs-6 profile-labels">
        Current focus: <br/>
        Current challenge: <br />
      </div>
      <div class="col-xs-4 profile-current-stuff">
        <%= @current_focus.titlecase %> <br />
        <%= @current_focus.titlecase %> Challenge
      </div>
    </div>
  </section>

  

  <section>
    <div class="spaced-row user-content">
      <div class="button-row">
        <%= link_to "Back to homepage", root_path, class: 'next-button' %>
      </div>
     
    </div>
  </section>
  
  <div class="page-bottom-padding">
      <div class="padding-text">
        adding space below next button
      </div>
  </div>

</body>