<script type="text/javascript">
    mixpanel.track("thanks", {
        
    });
</script>

<body class="page-background">

<section id="savvy-score-section">
<div class="savvy-score-bgimage">
    <%= image_tag("thanks-header.png", class:'savvy-score-bgimage' )%>
</div>
</section>
<section id="coach-section">
	<div class="coach-chat-triangle"></div>

	<div class="coach-question">

		Thanks, <%= @user.name %>! We'll be in touch soon with a plan to tackle your <%= @guest_user.area_to_work_on.downcase %>.
	</div>
</section>

<script>
$(document).ready(function(){
    for(i=1; i<4; i++) {
    	$('#chat'+i).hide(0).delay(1500*i).fadeIn(100).removeClass('hidden');
    }
});
</script>

<div id= "chat1" class="hidden" style="display:none;">
<section id="coach-section">
	<div class="coach-chat-triangle"></div>
	<div class="coach-question">
		In the meantime, if you have a few minutes more I'd love to hear what you thought about this chat!
	</div>

</section>

<!-- fade in user input section -->
<script>
$(document).ready(function(){
    $('div.hidden').hide(0).delay(1500).fadeIn(1000).removeClass('hidden');
});
</script>

<div id="chat2" class="hidden" style="display:none;">
	
	<%= form_for @feedback do |f| %>

	<section id="user-section">
		
		<div class="spaced-row user-content">
			<div class="madlib-sentence">			
				I'm <div class="dropdown-style inner-addon right-addon">
					<%= f.select :nps, [['1 (not at all)', 1], 2, 3, 4, 5, 6, 7, 8, 9, ['10 (extremely)', 10]], {prompt: "this much..."}, :class => "btn-group my-dropdown" %><span class="glyphicon"><%= image_tag("dropdown-arrow.png", size: "10x10")%></span></div>
				likely to recommend Savvy to a friend
				
				
			</div>
		</div>	
		
		<div class="spaced-row user-content">
			<div class="madlib-sentence">			
				Based on this experience, I trust Savvy <div class="dropdown-style inner-addon right-addon">
					<%= f.select :trust, [['1 (not at all)' ,1], 2, 3, 4, ['5 (completely)',5]], {prompt: "this much..."}, :class => "btn-group my-dropdown" %><span class="glyphicon"><%= image_tag("dropdown-arrow.png", size: "10x10")%></span></div>
				
			</div>
		</div>	
	
		
		<div class="spaced-row user-content">
			<div class="madlib-sentence">			
				I have some more thoughts:
				<%= f.text_area :comment, :class=>"my-text-area" %>
				
			</div>
		</div>	
	</section>	


	<div class="button-row">
			<%= f.submit "Next", class: 'next-button' %>
	</div>
	<% end %>
</div>

</body>