<% @title=": Update Profile" %>
<script type="text/javascript">
    mixpanel.track("profile_update", {
        
    });
</script>

<body class="page-background">

  <section id="first-priority">
    
  </section>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
   
      <div class="saver-question-block">
        
          <div class="dropdown-style">
            <%= f.text_field :name, class: "madlib-sentence border-underline", placeholder: "name" %>
          </div>
          <div class="spaced-row"></div>
          <div class="dropdown-style">
            <%= f.email_field :email, class: "madlib-sentence border-underline", placeholder: "email address" %>
          </div>
          <div class="spaced-row"></div>
          <div class="dropdown-style">
          <%= f.telephone_field :phone_number, class: "madlib-sentence border-underline", placeholder: "555-555-5555" %>
          </div>
          <div class="spaced-row"></div>
          <div class="dropdown-style inner-addon right-addon">
            <%= f.select :contact_prefs, [['1-2 texts this week', '1-2 texts this week'], ['a quick daily text', 'a quick daily text'],['a daily email', 'a daily email'], ['I\'ll check back myself', 'I\'ll check back myself']], :class => 'my-dropdown select' %>
            <span class="glyphicon"><%= image_tag("dropdown-arrow.png", size: "10x10")%></span>
          </div>

          <div class="dropdown-style">
          <%= f.password_field :password, class: "madlib-sentence border-underline", placeholder: "password", autocomplete: "off" %>
          </div>

          <div class="dropdown-style">
          <%= f.password_field :password_confirmation, class: "madlib-sentence border-underline", placeholder: "confirm password", autocomplete: "off" %>
          </div>

        <div class="spaced-row"></div>
        <div class="button-row">
          <%= f.submit "Update", class: 'next-button' %>
        </div>
      
 
  <% end %>

    <div class="spaced-row">
      <div class="row-future">
        <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class=>"reset-pigs" %>
      </div>
    </div>

</body>