<% @title=": Sign Up" %>
<script type="text/javascript">
    mixpanel.track("sign_up", {
        
    });
</script>

<body class="page-background">

Welcome back to Savvy! 

<p>Let's get started - first, we just need a a bit more info.</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <section id="user-section">
      <div class="spaced-row user-content">
        <div class="row-future">
          <div class="dropdown-style">
          <%= f.email_field :email, class: "madlib-sentence border-underline", placeholder: "email address" %>
          </div>
        </div>

        <div class="row-future">
          <div class="dropdown-style">
          <%= f.text_field :name, class: "madlib-sentence border-underline", placeholder: "your first name" %>
          </div>
        </div>

        <div class="row-future">
          <div class="dropdown-style">
          <%= f.password_field :password, class: "madlib-sentence border-underline", placeholder: "password", autocomplete: "off" %>
          </div>
        </div>

        <div class="row-future">
          <div class="dropdown-style">
          <%= f.password_field :password_confirmation, class: "madlib-sentence border-underline", placeholder: "confirm password", autocomplete: "off" %>
          </div>
        </div>

        <div class="spaced-row"></div>
        <div class="button-row">
          <%= f.submit "Sign up", class: 'next-button' %>
        </div>
        <div class="page-bottom-padding">
          <div class="padding-text">
            adding space below next button
          </div>
        </div>
      </div>
    </section>

  <% end %>
</body>