<% @title=": Sign Up" %>
<script type="text/javascript">
    mixpanel.track("sign_up", {
        
    });
</script>




  <div class="big-headline">Hi there! </div>

  <div class="headline">Let's get started!</div>
  <a href="#anchor">Next</a>



  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <section id="user-section">
      <div class="spaced-row user-content">
        
        <div class="row-future">
          What's your name? <br/>
          <div class="dropdown-style">
            <%= f.text_field :name, class: "madlib-sentence border-underline", placeholder: "your first name" %>
          </div> 
        </div>

        <div class="row-future">
          And what's your email address? <br />
          <div class="dropdown-style">
              <%= f.email_field :email, class: "madlib-sentence border-underline", placeholder: "email address" %>
          </div>
        </div>

        <div class="row-future">
          <div class="dropdown-style">
            <%= f.password_field :password, class: "madlib-sentence border-underline", placeholder: "password", autocomplete: "off" %>
          </div>
        </div>

        <div class="row-future">
          <div class="dropdown-style">
          <%= f.password_field :password_confirmation, class: "madlib-sentence border-underline", placeholder: "confirm password", autocomplete: "off" %>
          </div>
        </div>

        <div class="spaced-row"></div>
        <div class="button-row">
          <%= f.submit "Sign up", class: 'next-button' %>
        </div>
        
      </div>
    </section>

  <% end %>