<% @title=": Sign Up" %>
<script type="text/javascript">
    mixpanel.track("sign_up", {
        
    });
</script>

<script>
$(document).ready(function() {
  $('a[href*="#anchor"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);

        // $('#stocks').hide(0).fadeIn(100).removeClass('hidden');
        
        return false;
      }
    }
  });
  $('a[href*="#email"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);

        
        return false;
      }
    }
  });
});

</script>


<div class="edu-block">
    <div class="big-headline">Hi there! </div>

    <div class="headline">Let's get started!</div>
   <br /><br /><a href="#anchor", class="next-button">Next</a>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


<a name="anchor"></a>
<div class="edu-block">        
      What's your name? <br/><br />
      <div class="dropdown-style"> 
        <%= f.text_field :name, class: "border-underline", style:"width:250px;",placeholder: "your first name" %>
      </div> 
    <br /><br /><a href="#email", class="next-button">Next</a>
</div>

<a name="email"></a>
<div class="edu-block">     
      And let's make sure we can store your info and reach out to the right person.<br /> <br />
      <div class="dropdown-style">
          <%= f.email_field :email, value: (params[:email]), class: "border-underline", style:"width:250px;", placeholder: "email address" %>
      </div>
      <br /> <br />
      <div class="dropdown-style">
        <%= f.password_field :password, class: "border-underline", style:"width:250px;", placeholder: "password", autocomplete: "off" %>
      </div>
      <br /> <br />

      <div class="spaced-row"></div>
      
        <%= f.submit "Sign up", class: 'next-button' %>
        
</div>

  <% end %>