<% @title=": Sign Up" %>
<script type="text/javascript">
    mixpanel.track("sign_up", {
        
    });
</script>

<script>
$(document).ready(function() {
  $('a[href*="#email"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);

        
        return false;
      }
    }
  });
});

</script>


<div class="edu-block">
    <div class="big-headline">What's next? </div>

    <div class="headline">
      <p>Based on the info you provided, we'll identify the best options and our recommendation for you. We'll also walk you through steps to make an investment. </p>

      <p>First, let's create an account so that we can save your info and stay in touch.</p>
    </div>
   <br /><br /><a href="#email", class="next-button">Next</a>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<a name="email"></a>
<div class="edu-block">     
      Create your Savvy account.<br /> <br />
      <div class="dropdown-style">
          <%= f.email_field :email, value: (params[:email]), class: "border-underline", style:"width:250px;", placeholder: "email address" %>
      </div>
      <br /> <br />
      <div class="dropdown-style">
        <%= f.password_field :password, class: "border-underline", style:"width:250px;", placeholder: "password (at least 6 characters)", autocomplete: "off" %>
      </div>
      <br /> <br />

      <div class="spaced-row"></div>
      
        <%= f.submit "Sign up", class: 'next-button' %>
        
</div>

  <% end %>