<% @title=": Sign Up" %>
<script type="text/javascript">
    mixpanel.track("sign_up", {
        
    });
</script>

<div class="header saver-header">
  <div class="saver-header-icon-block"><%= image_tag("piggybank2.png", class:"saver-header-icon") %> </div>
  <div class="saver-header-logo-block"> <%= image_tag("savvysaverlogo.png", class:"saver-header-logo") %></div>
    <br /> <hr class="saver-hr"/>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="saver-question-block" id="email">
    We're here to do the work so you can save time and money. On average we've saved people $300 a year. Sign up so we can contact you about your bill and your savings (we promise not to spam your inbox).
    <br /> <br />
    

    <div class="dropdown-style">
      <%= f.text_field :first_name, class: "madlib-sentence border-underline", style:"width:300px; color:#333;", placeholder: "your first name", required: true %>
    </div>
    <div class="spaced-row"></div>
    <div class="dropdown-style" style="margin-top:10px;">
      <%= f.email_field :email, value: (params[:email]), class: "border-underline", style:"width:300px;color:#333;", placeholder: "email address" %>
    </div>
    <div class="spaced-row"></div>
    <div class="dropdown-style" style="margin-top:10px;">
      <%= f.password_field :password, class: "border-underline", style:"width:300px;color:#333;", placeholder: "password (at least 6 characters)", autocomplete: "off" %>
    </div>
    <div class="spaced-row"></div>
    
  
    <%= f.submit "I'm ready to save", class: "next-button" %>
    <br /><br /><br /><br />
  </div>

  <% end %>