<% @title=": Sign Up" %>
<script type="text/javascript">
    mixpanel.track("sign_up", {
        
    });
</script>

<script>
  $('document').ready(function() {
    $(".alert").animate({opacity:'0'}, 10000).hide(1500);
  });
</script>

<body class="city-bottom blue-bkgd">

  <div class="receiver-header-image">
    <%= image_tag("invite_flying_pig_savings.png", class:"saver-header-icon") %>
  </div>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  

  <div class="saver-question-block" id="email">
    <!-- We're here to do the work so you can save time and money. On average we've saved people $300 a year. Sign up so we can contact you about your bill and your savings (we promise not to spam your inbox). -->
    <div class="hero-title">Sign up and save with Savvy!</div>
    <div class="refer-title" style="margin-bottom:28px;">
    We save people an average of $300 a year. How much will we save you?
    <br /> 
    </div>

    

    <div class="dropdown-style">
      <%= f.text_field :first_name, class: "madlib-sentence border-underline", style:"width:300px; color:#fff;", placeholder: "your first name", required: true %>
    </div>
    <div class="spaced-row"></div>
    <div class="dropdown-style" style="margin-top:10px;">
      <%= f.email_field :email, value: (params[:email]), class: "border-underline", style:"width:300px;color:#fff;", placeholder: "email address" %>
    </div>
    <div class="spaced-row"></div>
    <div class="dropdown-style" style="margin-top:10px;">
      <%= f.password_field :password, class: "border-underline", style:"width:300px;color:#fff;", placeholder: "password (at least 6 characters)", autocomplete: "off" %>
    </div>
    <div class="spaced-row"></div>
    
  
    <%= f.submit "I'm ready to save", class: "next-button" %>
    <br /><br /><br /><br />
  </div>

  <% end %>

</body>