<% @title=": How It Works" %>
<script type="text/javascript">
    mixpanel.track("saver_how_it_works", {

    });
</script>

<script>
$(document).ready(function() {
  $('a[href*="#questions"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);

        
        return false;
      }
    }
  });

  
  
});

</script>


<div class="header saver-header">
	<div class="saver-header-icon-block"><%= image_tag("piggybank2.png", class:"saver-header-icon") %> </div>
	<div class="saver-header-logo-block">	<%= image_tag("savvysaverlogo.png", class:"saver-header-logo") %></div>
		<br /> <hr class="saver-hr"/>
</div>


<div class="howitworks-block">
    <div class="step-text big-headline option-row">Hi there! We're excited to save you some money. Here's how it works. <br /></div>
  
    <div class="row" style="margin-top:20px;">
      <div class="savvy-step col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="step-image">
          <%= image_tag("billcutting_step_1.png", class:"saver-header-icon", :alt=>"Send us your cable/internet bill.") %>
        </div>
        <br />
        <div class="step-numbers">
        1.
        </div>
        
        <div class="step-text">
          Send us your bill.
        </div>
        
      </div>
      <div class="savvy-step col-xs-12 col-sm-3 col-md-3 col-lg-3">
        
        <div class="step-image">
          <%= image_tag("billcutting_step_2.png", class:"saver-header-icon", :alt=> "We’ll call your cable/internet company and negotiate a lower rate.") %>
        </div>
        <br />
        <div class="step-numbers">
        2.
        </div>
        <div class="step-text">
          We’ll call your cable/internet company and negotiate a lower rate.
        </div>
      </div>
      <div class="savvy-step col-xs-12 col-sm-3 col-md-3 col-lg-3">
      
        <div class="step-image">
          <%= image_tag("billcutting_step_3.png", class:"saver-header-icon",  :alt=>" We’ll email you with your new monthly rate and the amount you'll save this year.") %>
        </div>
        <br />
        <div class="step-numbers">
        3.
        </div>  
        <div class="step-text">
          We’ll email you with your new monthly rate and the amount you'll save this year. 
        </div>
      </div>
      <div class="savvy-step col-xs-12 col-sm-3 col-md-3 col-lg-3">
       
        <div class="step-image">
            <%= image_tag("billcutting_step_4.png", class:"saver-header-icon") %>
        </div>
        <br />
        <div class="step-numbers">
         4.
         </div>  
         <div class="step-text">
          Pay us 1/3 of the annual savings and keep the rest.
        </div>
        
      </div>
    </div>

    <br />


   	<div style="margin-auto; text-align:center;">
      <%= link_to "Next", signup_saver_guests_path, class:"next-button" %>
    </div>
    <div style="height:30px; color:transparent;">
      a
    </div>
</div>



