<% @title=": Introductions" %>


<script>
$(document).ready(function() {
  $('a[href*="#questions"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);

        
        return false;
      }
    }
  });
  
});

</script>

<div class="edu-block">
  <div class="intro_image_block"><%= image_tag("piggybank2.png", style:"width:150px;height:auto;") %> </div>
    <div class="big-headline">Hi there! </div>

    <div class="headline option-row">We're excited to save you some money.</div>
   <a href="#questions", class="next-button">Next</a>
</div>



<%= form_for @saver_guest do |f| %>
<a name="questions"></a>
<div class="edu-block">        
	<div class="headline text-60-width">First off, a couple quick questions so we can give you an estimate of how much we can save you. </div>
	<br />
	<div style="margin-left:10px;">
	    <div class="headline">1. When did you last move? </div>
	    <div class="dropdown-style inner-addon right-addon">
	        <%= f.select :last_moved, [['less than a year ago', 'less than a year ago'], ['more than a year ago', 'more than a year ago']], { include_blank: "this long ago..." }, {:id => "dropdown", :required => true, :class => 'my-dropdown select'} %>
	         <span class="glyphicon" style="margin-top:-5px;">
	     		<%= "\u25BE" %>
	   		</span>
	    </div>
	    <br /><br />
	    <div class="headline">2. Have you negotiated a lower rate in the last year? </div>
	    <div class="dropdown-style inner-addon right-addon"> 
	        <%= f.select :negotiated, [['yes', 'yes'], ['no', 'no']], { include_blank: "I negotiated..." }, {:id => "dropdown", :required => true, :class => 'my-dropdown select'} %>
	        <span class="glyphicon" style="margin-top:-5px;">
	     		<%= "\u25BE" %>
	   		</span>
	    </div>
	    <br /><br />
	    <div class="headline">3. Which services do you currently have? </div>
	    <%= f.fields_for :services do |i| %>
	        <label><%= i.check_box :cable %> Cable</label><br />
	        <label><%= i.check_box :internet %> Internet</label><br />
	        <label><%= i.check_box :phone %> Phone </label><br />
	        <label><%= i.check_box :other %> Other </label>
	    <% end %>
    	<br /><br />
    </div>
    <%= f.submit "Next", class: 'next-button' %>
</div>

  <% end %>