<% @title=": Introductions" %>
<script type="text/javascript">
    mixpanel.track("saver_intro2", {

    });
</script>
<script>
$(document).ready(function() {
  $('a[href*="#email"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);

        
        return false;
      }
    }
  });
  
});

</script>

<div class="header saver-header">
	<div class="saver-header-icon-block"><%= image_tag("piggybank2.png", class:"saver-header-icon") %> </div>
	<div class="saver-header-logo-block">	<%= image_tag("savvysaverlogo.png", class:"saver-header-logo") %></div>
		<br /> <hr class="saver-hr"/>
	</div>
</div>

<div class="saver-question-block">
<% if @saver_guest.last_moved == 'more than a year ago' && @saver_guest.negotiated == "no" %>
	<div class="big-headline">Expected savings: </div>
	<span style="font-weight:500; font-size:32px;"><%= projected_savings %></span>
	

<% else %>
	<div class="headline">
	<% if @saver_guest.last_moved == 'less than a year ago' %>
		It'll be helpful for us to look at your latest bill since you moved in the last year (and likely started a new contract then). 
	<% elsif @saver_guest.negotiated =="yes" %>
		It'll be helpful for us to look at your latest bill since you negotiated a better rate in the last year. 
	<% end %>
	</div>

<% end %>
	<br /><br />
	<div class="headline">
	We'll send you an email to kick this off and ask that you send us your latest bill. Then we'll get to work researching and negotiating a lower rate for you.
	</div>
	<br />
	<%= form_for @saver_guest do |f| %>
		
			<div class="dropdown-style">
       			<%= f.text_field :name, class: "madlib-sentence border-underline", style:"width:300px;", placeholder: "your first name", required: true %>
       		</div>
       		<br />
       		<div class="dropdown-style" style="margin-top:10px;">
       			<%= f.email_field :email, class: "madlib-sentence border-underline", style:"width:300px;", placeholder: "your email address", required: true %>
       		</div>
       <br /><br /><br />
       <%= f.submit "I'm ready to save", class: 'next-button' %>
    <% end %>
</div>