<% @title=": Signup" %>
<script type="text/javascript">
    mixpanel.track("saver_intro2", {

    });
</script>
<script>
$(document).ready(function() {
  $('a[href*="#email"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);

        
        return false;
      }
    }
  });
  
});

</script>

<div class="header saver-header">
	<div class="saver-header-icon-block"><%= image_tag("piggybank2.png", class:"saver-header-icon") %> </div>
	<div class="saver-header-logo-block">	<%= image_tag("savvysaverlogo.png", class:"saver-header-logo") %></div>
		<br /> <hr class="saver-hr"/>
	</div>
</div>

<%= form_for @saver_guest do |f| %>
<div class="saver-question-block" id="questions">        
  <div class="headline">First off, a couple quick questions about your cable and/or internet services. 
  </div>
  <br />
  <div style="margin-left:10px;">
    <div class="headline">1. Do you want to keep getting what you have now for the next year? </div>
      <div class="field form-group">
        <div class="btn-group" data-toggle="buttons" style="width:100%; margin-top:20px;">
          <%= f.label :another_year, class: "btn btn-primary option-button saver-2-button" do %>
              <%= f.radio_button :another_year, "Yes" %>
              Yes
            <% end %>
          <%= f.label :another_year, class: "btn btn-primary option-button saver-2-button" do %>
              <%= f.radio_button :another_year, "No" %>
              No
          <% end %>
          <%= f.label :another_year, class: "btn btn-primary option-button saver-2-button" do %>
              <%= f.radio_button :another_year, "I'm not sure" %>
              I'm not sure
          <% end %>
      </div>
    </div>
  </div>

  <br />

  <div style="margin-left:10px;">
    <div class="headline">2. When did you last move? </div>
      <div class="field form-group">
        <div class="btn-group" data-toggle="buttons" style="width:100%; margin-top:20px">
          <%= f.label :last_moved, class: "btn btn-primary option-button saver-button" do %>
            <%= f.radio_button :last_moved, "Less than a year ago" %>
            Less than a year ago
          <% end %>
          <%= f.label :last_moved, class: "btn btn-primary option-button saver-button" do %>
            <%= f.radio_button :last_moved, "More than a year ago" %>
            More than a year ago
          <% end %>
        </div>
    </div>
  </div>
    <br />
    <a href="#email" class="short-option-button">Next</a>
</div>

<div class="saver-question-block" id="email">
  Great, thanks! We're here to do the work so you can save time and money. On average we've saved people $300 a year. 
  <br /> <br />
  All we need from you is your first name (so we know what to call you) and your email so we can contact you about your bill and your savings.
  <br /> <br />
  <div class="dropdown-style">
      <%= f.text_field :name, class: "madlib-sentence border-underline", style:"width:300px;", placeholder: "your first name", required: true %>
  </div>
  <br />
  <div class="dropdown-style" style="margin-top:10px;">
    <%= f.email_field :email, class: "madlib-sentence border-underline", style:"width:300px;", placeholder: "your email address", required: true %>
  </div>
  <br /> <br />
  <div class="subtext">
    We promise not to spam your inbox.
  </div>
  <br />
  <%= f.submit "I'm ready to save", class: 'next-button' %>
  <br /><br /><br /><br />
</div>

  <% end %>



	
