<% @title=": Credit Cards" %>
<script type="text/javascript">
    mixpanel.track("credit_cards", {
        
    });
</script>

<body class="page-background">

	<section id="coach-section">
		<div class="coach-chat-triangle"></div>
		<div class="coach-question">
			<aside>
				<%= student_loans_message %>  
			</aside>		
		</div>
	</section>

	<script>
		$(document).ready(function(){
    		for(i=1; i<3; i++) {
    			$('#chat'+i).hide(0).delay(1000*i).fadeIn(100).removeClass('hidden');
    		}
		});
	</script>

	<div id="chat1" class="hidden" style="display:none;">
		<section id="coach-section">
	 		<div class="coach-chat-triangle"></div>
			<div class="coach-question">
				<p class="main-question">How are you doing with credit cards? Any debt?</p>
			</div>
		</section>
	</div>

	<div id="chat2" class="hidden" style="display:none;">
		<%= form_for @guest_user, url: wizard_path, method: :put do |f| %>
			<section id="user-section">	
				<div class="spaced-row user-content">
					<div class="madlib-sentence">	
						<div class="dropdown-style inner-addon right-addon">
							<div id="cc-loans">
								<%= f.select :cc_amount, [['I don\'t have any credit cards', 0], ['I pay them off every month', 4], ['I owe less than $1000', 1], ['I owe $1000 to $5000', 2], ['I owe over $5000', 3]], {include_blank: 'My credit card debt...' }, {:id => "dropdown", :required => true, :class => 'my-dropdown select'} %>
								<span class="glyphicon"><%= image_tag("dropdown-arrow.png", size: "10x10")%></span>
							</div>
						</div>
						<div id="spacing">
							and I want to
						</div>
								
						<div class="dropdown-style inner-addon right-addon">
							<div id="cc-attitude">
								<%= f.select :cc_attitude, [['continue what I\'m doing', 'continue what I\'m doing'], ['pay off my debt faster', 'pay off my debt faster'], ['get some help', 'get some help']], { include_blank: "my desire..." }, {:id => "dropdown", :class => 'my-dropdown select'} %>
								<span class="glyphicon"><%= image_tag("dropdown-arrow.png", size: "10x10")%></span>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div id="NextButton" class="hidden" style="display:none;">
				<div class="button-row">
					<%= f.submit "Next", class: 'next-button' %>
				</div>
			</div>
			<div class="padding-bottom">
				<div class="padding-text">
					adding space below next button
				</div>
			</div>
		<% end %>
	</div>

</body>

