<script type="text/javascript">
    mixpanel.track("intro_diversification", {

    });
</script>
<script>
$(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);

        return false;
      }
    }
  });
});

</script>

<div class="edu-block">
  <div class="big-headline">
  Ok, a couple more quick questions to make sure we've covered the basics.
  </div>
  <div class="headline edu-para">In the world of investing, you hear the word "diversify" a lot. Do you want a quick overview of what it means to diversify your investments?
  </div>

<br /><a href="#anchor" class="next-button">Sure</a><br /><br />

<%= form_for @guest_user, url: wizard_path, method: :put do |f| %>
	<%= f.hidden_field :explain_diversification, value: "No" %>
	<%= f.submit "No need", class:"next-button" %>
<% end %>
</div>

<div id="diversify"><a name="anchor"></a>
	<div class="edu-block"> 
	  <div class="big-headline">What does it mean to diversify your investments?</div>
		<div class="headline">
			<p class="edu-para">Diversifying means spreading your investments across a large set of companies (or even industries or countries) to lower your risk. Put another way: don't put all your eggs in one basket. </p>

			<p class="edu-para">Imagine you had all your money invested in one company and its stock plummets, you would lose a lot of money. To prevent this, you can diversify your investments across companies, industries, geographies, between stocks and bonds, and more.  </p>

			<p class="edu-para">Diversification is important because we don't know which (and when) investments will do well or poorly. Our recommended first investment will be fully diversified.</p>
		</div>

	    <%= form_for @guest_user, url: wizard_path, method: :put do |f| %>
		<%= f.hidden_field :explain_diversification, value: "Yes" %>
		<%= f.submit "Got it", class:"next-button" %>
		<% end %>
	</div>
</div>


		
	</div>
</div>
