<script type="text/javascript">
    mixpanel.track("financial_score", {
        
    });

</script>

<!--script src="js/skill.bars.jquery.js"></script-->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js">
</script>

  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<body class="page-background">

<section id="savvy-score-section">
 <div class="score-circle"> 
    <div class="savvy-score-textgroup">
      <div class="savvy-score-title">
        SAVVY SCORE
      </div>
      <div class="savvy-score">
        <%= @savvy_score %> 
      </div>
      <div class="score-total">
        out of 100
      </div>
    </div>
  
</section>

<section id="first-priority">
  What we'll tackle first:
  <br /><%= @weakness %>

</section>

<section id="coach-section">
  <div class="coach-chat-triangle"></div>
  <div class="coach-question">
    We calculated your Savvy Score based on your current debt/savings/investments amounts, your financial habits (which are crucial for an awesome future), and your financial awareness
  </div>
</section>


<section id="coach-section">
  <div class="coach-chat-triangle"></div>
	<div class="coach-question">
		Based on this initial chat, it seems like you're in good shape in terms of  
		<%= @strength %>. So we'll focus on <%= @weakness %>. 
  </div>
</section>

<section id="coach-section">
  <div class="coach-chat-triangle"></div>
  <div class="coach-question">
    <p>We'd love to work with you to boost your savvy and improve your finances so that you have the flexibility to live the life you want. </p>
	</div>
</section>

<%= form_for @user, url: wizard_path, method: :put do |f| %>
<section id="user-section">

	<div class="spaced-row user-content">
		I'd like to get help with 
      <span class="dropdown-style inner-addon right-addon">
        <%= f.select(:financial_help, [['saving more', 'saving more',], ['paying down debt more quickly', 'paying down debt more quickly'], ['starting to invest', 'starting to invest']], {prompt: 'choose an area'}, :class => "my-dropdown") %>
          <span class="glyphicon glyphicon-menu-down" style="color:#FFF"></span>
        </span>
      .
      <br /><br />
    You can reach me at

			<%= f.email_field :email, class: "madlib-sentence border-underline text-field", placeholder: "email address", :autocapitalize => "off", :required => true %>
    . 		
	</div>


</section>
<div class="button-row">
    <%= f.submit "I want to increase my savvy", class: 'next-button' %>
</div>
<% end %>


</body>