<script type="text/javascript">
    mixpanel.track("intro_follow_up", {
        
    });
</script>
<div class="edu-block">
  <div class="edu-para">
  	<p><h3>What's next?</h3></p>

		<p>Based on your situation, we'll identify the best options and our recommendation for you. We'll also walk you through steps to make an investment. </p>

		<p>Would you prefer to follow up with a short phone/text chat or over email?</p>

		<%= form_for @investing_profile, url: wizard_path, method: :put do |f| %>
	    <%= f.hidden_field :follow_up_prefs, value: "email" %>
      <%= f.submit "Email", class:"short-option-button" %>
    <% end %>

 		<%= form_for @investing_profile, url: wizard_path, method: :put do |f| %>
	    <%= f.hidden_field :follow_up_prefs, value: "phone or text chat" %>
      <%= f.submit "Phone or text chat", class:"short-option-button" %>
    <% end %>

	</div>
</div>