<% @title=": Future" %>
<script type="text/javascript">
    mixpanel.track("future", {
        
    });
</script>

<body class="page-background">

	<section id="coach-section">
		<div class="coach-chat-triangle"></div>
		<div class="coach-question">
			<aside>
				<%= savvy_feel_feedback %>
			</aside>
		</div>
	</section>

	<script>
		$(document).ready(function(){
    		for(i=1; i<3; i++) {
    			$('#chat'+i).hide(0).delay(1000*i).fadeIn(100).removeClass('hidden');
    		}
		});
	</script>

	<div id= "chat1" class="hidden" style="display:none;">
		<section id="coach-section">
			<div class="coach-chat-triangle"></div>
			<div class="coach-question">
				I'd love to hear more about your future plans & goals. How might your life be different 5 years from now?
			</div>
		</section>
	</div>

	
	<div id= "chat2" class="hidden" style="display:none;">
		<%= form_for @guest_user, url: wizard_path, method: :put do |f| %>
			<%= f.fields_for :future_day do |i| %>
				<section id="user-section-future">
				<div class="row-future future-date">In <%= (Time.zone.now + 5.year).strftime("%A, %b. %d, %Y") %>... </div>
					<div class="row-future">
	  					<div class="col-madlibs-question">I'll live in: </div>
	  					<div class="col-madlibs-field dropdown-style">
	  						<%= i.text_field :city, class: "madlib-sentence text-field-future", placeholder: "city", required: true %>
	  					</div>
					</div>	

					<div class="row-future">
	  					<div class="col-madlibs-question">in a/an </div>
	  					<div class="col-madlibs-field">
	  						<div class="dropdown-style inner-addon right-addon">
	  							<%= i.select :home, [['apartment', 'apartment'], ['house', 'house'], ['mansion', 'mansion'], ['boat', 'boat']], { include_blank: '' }, class: "my-dropdown", required: true %>
								<span class="glyphicon"><%= image_tag("dropdown-arrow.png", size: "10x10")%></span>
	  						</div>
	  					</div>
					</div>	

					<div class="row-future">
	  					<div class="col-madlibs-question">with </div>
	  					<div class="col-madlibs-field">
	  						<div class="dropdown-style inner-addon right-addon">
	  							<%= i.select :living_with, [['no one else', 'no one else'], ['roommates', 'roommates'], ['my soulmate', 'my soulmate'], ['my family', 'my family']], { include_blank: '' }, class: "my-dropdown", required: true %>
								<span class="glyphicon"><%= image_tag("dropdown-arrow.png", size: "10x10")%></span>
	  						</div>
	  					</div>
					</div>	

					<div class="row-future">
	  					<div class="col-madlibs-question">For work, I </div>
	  					<div class="col-madlibs-field dropdown-style">
	  						<%= i.text_field :company, class: "madlib-sentence text-field-future", placeholder: "do important stuff", autocapitalize: "off", required: true %>
	  					</div>
					</div>	

					<div class="row-future">
	  					<div class="col-madlibs-question">For fun, I </div>
	  					<div class="col-madlibs-field dropdown-style">
	  						<%= i.text_field :evenings, class: "madlib-sentence text-field-future", placeholder: 'cook, watch TV', autocapitalize: "off", required: true %>
						</div>
	  				</div>

					<div class="row-future">
	  					<div class="col-madlibs-question">I've managed to </div>
	  					<div class="col-madlibs-field dropdown-style">
	  						<%= i.text_field :major_goal, class: "madlib-sentence text-field-future", placeholder: "buy a house!", :autocapitalize => "off", required: true %>
	  					</div>
					</div>	


					<div class="button-row">
						<%= i.submit "Next", class: 'next-button' %>
					</div>
					<div id="SubmitButton" class="hidden" style="display:none;">
					<div class="page-bottom-padding">
						<div class="padding-text">
							adding space below next button
						</div>
					</div>
				</section>
			<% end %>
		<% end %>
	</div>
</body>