<script type="text/javascript">
    mixpanel.track("future_reflection", {
        
    });
</script>

<body class="page-background">

<section id="coach-section">
	<div class="coach-chat-triangle"></div>

	<div class="coach-question">
		<aside>Wow, that's awesome. Take a second to reflect on how life could change in just a few years.</aside>		
		
	</div>

	<hr width="86%">
	<p class="future-story">
	On <%= (Time.now + 3.year).strftime("%b %d, %Y") %>, you wake up in your killer <%= @guest_user.future_day['home'] %> with <%= future_livingwith %>. It's a beautiful day in <%= @guest_user.future_day['city'] %>. You head to work where you <%= @guest_user.future_day['company'] %>. When the end of the day rolls around, you're excited to <%= @guest_user.future_day['evenings'] %>. At night, you think about where you were just a few years ago. You think to yourself "Wow, <%= @guest_user.future_day['major_goal'] %>".

		</p>
	<hr width="86%">
	<div class="coach-question">
	<p class="main-question">How prepared do you feel to make this a reality?</p>
	</div>
</section>


<%= form_for @guest_user, url: wizard_path, method: :put do |f| %>
<section id="user-section">
		<div class="spaced-row user-content">
			<span class="madlib-sentence">	
				This future life seems 
				<br />
				<span class="dropdown-style inner-addon right-addon">
					<%= f.select :preparedness, [['impossible', 1], ['hard to achieve' , 2], ['possible with effort', 3], ['very possible', 4]], {prompt: 'how possible?'}, :class=> "dropdown-style", :required => true %>
					<span class="glyphicon"><%= image_tag("dropdown-arrow.png")%></span>
				</span>
			
			</span>
		</div>

		
</section>
	

<div class="button-row">
			<%= f.submit "Next", class: 'next-button' %>
</div>
<% end %>			


</body>