<script type="text/javascript">
    mixpanel.track("future", {
        
    });
</script>

<body class="page-background">


<section id="coach-section">
	<div class="coach-chat-triangle"></div>
	<div class="coach-question">
		<aside>
		Ok, now for the fun stuff – let’s do a little exercise. </aside>
	</div>
</section>

<script>
$(document).ready(function(){
    for(i=1; i<3; i++) {
    	$('#chat'+i).hide(0).delay(1000*i).fadeIn(100).removeClass('hidden');
    }
});
</script>

<div id= "chat1" class="hidden" style="display:none;">
<section id="coach-section">
	<div class="coach-chat-triangle"></div>
	<div class="coach-question">
		<p class="main-question">Let's fast forward to
		<%= (Time.now + 5.year).strftime("%a, %b %d, %Y") %>, 
		5 years from today</p>
	</div>
</section>

<div id= "chat2" class="hidden" style="display:none;">
<%= form_for @user, url: wizard_path, method: :put do |f| %>
	<%= f.fields_for :future_day do |i| %>
<section id="user-section">
	<div class="row-future">
	  <div class="col-madlibs-question">Pronoun to describe me: </div>
	  <div class="col-madlibs-field">
	  	<%= i.text_field :gender, class: "madlib-sentence", placeholder: "she / he / they", autofocus: true, :autocapitalize => "off", required: true %>
	  </div>
	</div>	

	<div class="row-future">
	  <div class="col-madlibs-question">I'll live in: </div>
	  <div class="col-madlibs-field">
	  	<%= i.text_field :city, class: "madlib-sentence", placeholder: "city", required: true %>
	  	
	  </div>
	</div>	

	<div class="row-future">
	  <div class="col-madlibs-question">in </div>
	  <div class="col-madlibs-field">
	  <div class="dropdown-style inner-addon right-addon">
	  	<%= i.select :home, [['a bigger place', 'a bigger place'], ['the same place', 'the same place'], ['a smaller place', 'a smaller place']], { prompt: '' }, class: "my-dropdown", required: true %>
		<span class="glyphicon glyphicon-menu-down" style="color:#FFF"></span>
	  	</div>
	  </div>
	</div>	

	<div class="row-future">
	  <div class="col-madlibs-question">with </div>
	  <div class="col-madlibs-field">
	  <div class="dropdown-style inner-addon right-addon">
	  	<%= i.select :living_with, [['no one', 'no one'], ['roommates', 'roommates'], ['my partner', 'my partner'], ['family', 'family']], { prompt: '' }, class: "my-dropdown", required: true %>
		<span class="glyphicon glyphicon-menu-down" style="color:#FFF"></span>
	  	</div>
	  </div>
	</div>	

	<div class="row-future">
	  <div class="col-madlibs-question">I head to work at </div>
	  <div class="col-madlibs-field">
	  	<%= i.text_field :company, class: "madlib-sentence", placeholder: "company", required: true %>
	 
	  </div>
	</div>	


	<div class="row-future">
	  <div class="col-madlibs-question">In the evening, I'll likely be </div>
	  <div class="col-madlibs-field">
	  	<%= i.text_field :evenings, class: "madlib-sentence", placeholder: 'cooking, studying...', required: true %>
		</div>
	  </div>

	<div class="row-future">
	  <div class="col-madlibs-question">My life will be different because... </div>
	  <div class="col-madlibs-field">
	  	<%= i.text_field :major_goal, class: "madlib-sentence", placeholder: "career / relationship / lifestyle", :autocapitalize => "off", required: true %>

	  </div>
	</div>	

	<div class="button-row">
	<%= i.submit "Next", class: 'next-button' %>
</div>
	<% end %>


</section>


<% end %>
</body>