<script type="text/javascript">
    mixpanel.track("future_reflection", {
        
    });
</script>

<body class="page-background">

<section id="coach-section">
	<div class="coach-chat-triangle"></div>

	<div class="coach-question">
		<aside>Wow, that's awesome. Take a second to reflect on how life could change in just a few years.</aside>		
		
	</div>


	<hr width="86%">
	<p class="future-story">
	Future <%= @user.name %> wakes up on <%= (Time.now + 3.year).strftime("%a, %b %d, %Y") %> in <%= @user.future_day['city'] %> in <%= @user.future_day['home'] %> with <%= @user.future_day['living_with'] %>. Future <%= @user.name %> heads to work at <%= @user.future_day['company'] %> and has <%= @user.future_day['responsibilities'] %> compared to a few years before. For lunch, <%= @user.future_day['gender'] %> enjoys eating some delicious <%= @user.future_day['lunch'] %>. When the end of the day rolls around, <%= @user.future_day['gender'] %> loves <%= @user.future_day['evenings'] %>. Looking back to several years before, the biggest change for Future <%= @user.name %> is that <%= @user.future_day['gender'] %> is <%= @user.future_day['major_goal'] %>.

		</p>
	<hr width="86%">
	<div class="coach-question">
	<p class="main-question">How prepared do you feel to make this a reality?</p>
	</div>
</section>


<%= form_for @user, url: wizard_path, method: :put do |f| %>
<section id="user-section">
		<div class="spaced-row user-content">
			<span class="madlib-sentence">	
				This future life seems 
				<br />
				<span class="dropdown-style inner-addon right-addon">
					<%= f.select :preparedness, [['impossible', 1], ['hard to achieve' , 2], ['possible with effort', 3], ['very possible', 4]], {prompt: 'how likely?'}, :required => true %>
					<span class="glyphicon"><%= image_tag("dropdown-arrow.png")%></span>
				</span>
			
			</span>
		</div>

		
</section>
	

<div class="button-row">
			<%= f.submit "Next", class: 'next-button' %>
</div>
<% end %>			


</body>