<script type="text/javascript">
    mixpanel.track("future", {
        
    });
</script>

<body class="page-background">


<section id="coach-section">
	<div class="coach-question">
		<aside>
		Ok, now for the fun stuff – let’s do a little exercise. </aside>
		<p class="main-question">Let's fast forward to <br />
		<%= (Time.now + 2.year).strftime("%a, %b %d, %Y") %>, 
		<br />3 years from today</p>
	</div>
</section>

<section id="user-section">

<%= form_for @user, url: wizard_path, method: :put do |f| %>
	<%= f.fields_for :future_day do |i| %>
	
	<div class="row-future">
	  <div class="col-madlibs-question">Pronoun for you: </div>
	  <div class="col-madlibs-field">
	  	<%= i.text_field :gender, class: "madlib-sentence", placeholder: "she / he / they", autofocus: true, :autocapitalize => "off", required: true %>
	  	<!-- <input type="text" name="" value="" class="madlib-sentence " placeholder="city"> -->
	  </div>
	</div>	

	<div class="row-future">
	  <div class="col-madlibs-question">I'll live in: </div>
	  <div class="col-madlibs-field">
	  	<%= i.text_field :city, class: "madlib-sentence", placeholder: "city", required: true %>
	  	<!-- <input type="text" name="" value="" class="madlib-sentence " placeholder="city"> -->
	  </div>
	</div>	

	<div class="row-future">
	  <div class="col-madlibs-question">because it is </div>
	  <div class="col-madlibs-field">
	  	<%= i.text_field :reason, class: "madlib-sentence", placeholder: "reason", :autocapitalize => "off", required: true %>
	  	<!-- <input type="text" name="" value="" class="madlib-sentence" placeholder="reason"> -->
	  </div>
	</div>	

	<div class="row-future">
	  <div class="col-madlibs-question">I'll work for </div>
	  <div class="col-madlibs-field">
	  	<%= i.text_field :company, class: "madlib-sentence", placeholder: "company", required: true %>
	  	<!-- <input type="text" name="" value="" class="madlib-sentence" placeholder="company"> -->
	  </div>
	</div>	

	<div class="row-future">
	  <div class="col-madlibs-question">working as a </div>
	  <div class="col-madlibs-field">
	  	<%= i.text_field :role, class: "madlib-sentence", placeholder: "role", :autocapitalize => "off", required: true %>
	  	<!-- <input type="text" name="" value="" class="madlib-sentence" placeholder="role"> -->
	  </div>
	</div>	

	<div class="row-future">
	  <div class="col-madlibs-question">After work, I enjoy </div>
	  <div class="col-madlibs-field">
	  	<%= i.text_field :after_work, class: "madlib-sentence", placeholder: "activity", :autocapitalize => "off", required: true %>
	  	<!-- <input type="text" name="" value="" class="madlib-sentence" placeholder="activity"> -->
	  </div>
	</div>	

	<div class="row-future">
	  <div class="col-madlibs-question">On weekends, I enjoy </div>
	  <div class="col-madlibs-field">
	  	<%= i.text_field :weekends, class: "madlib-sentence", placeholder: "activity", :autocapitalize => "off", required: true %>
	  	<!-- <input type="text" name="" value="" class="madlib-sentence" placeholder="activity"> -->
	  </div>
	</div>	

	<div class="row-future">
	  <div class="col-madlibs-question">Financially, I'll be </div>
	  <div class="col-madlibs-field">
	  	<%= i.select :financially, [['worse off', 'worse off'], ['better off', 'better off'], ['awesome', 'awesome']], {prompt: 'better or worse off?'}, :required => true %>
	  	<!-- <select class="dropdown-style inner-addon right-addon"><option>worse off</option><option>better off</option><option>awesome</option></select> -->
	  	<span class="glyphicon"><%= image_tag("dropdown-arrow.png")%></span>
	  </div>
	</div>	
	<div class="button-row">
	<%= i.submit "Next", class: 'next-button' %>
</div>
	<% end %>
<% end %>

</section>


</body>