<script type="text/javascript">
    mixpanel.track("investments", {
        
    });
</script>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


<body class="page-background">

<section id="coach-section">
	<div class="coach-chat-triangle"></div>

	<div class="coach-question">
		<aside> 
		<%= savings_feedback %>
		</aside>
		<p class="main-question"><%= investment_question %> </p>
		
	</div>
</section>

<!-- fade in user input section -->
<script>
$(document).ready(function(){
    $('div.hidden').hide(0).delay(1500).fadeIn(1000).removeClass('hidden');
});
</script>



<!--div class="hidden" style="display:none;"-->
	<section id="user-section">


	<%= form_for @user, url: wizard_path, method: :put do |f| %>
		<div class="spaced-row">
			
			<div class="options-block">	
			<%= f.fields_for :investments_type do |i| %>
			
				<div class="row-investments checkbox disabled">
					<div class="col-toggle-btn">
						<%= i.check_box :retirement_fund, data: { toggle: 'toggle', onstyle: 'toggle-on-background', offstyle: 'toggle-off-background', on: 'Yep!', off: 'Nope', width: '70px', height: '50px' } %>
					</div>
					<div class="col-investment-type">
						<label for="retirementfund">
							a retirement fund </label>
						<p class="subtext-investment">(e.g. 401K, IRA)</p>
					</div>
				</div>
				

				<div class="row-investments checkbox disabled">
					<div class="col-toggle-btn ">
						<%= i.check_box :company_stock, data: { toggle: 'toggle', onstyle: 'toggle-on-background', offstyle: 'toggle-off-background', on: 'Yep!', off: 'Nope', width: '70px', height: '50px'} %>
					</div>
					<div class="col-investment-type">
						<label for="companystocks" class="label-investment-type">
				    		company stocks </label>
				    	<p class="subtext-investment">(e.g. ESPP, options)</p>
			  			
					</div>
				</div>

				<div class="row-investments checkbox disabled">
					<div class="col-toggle-btn ">
					<%= i.check_box :stock_market, data: { toggle: 'toggle', onstyle: 'toggle-on-background', offstyle: 'toggle-off-background', on: 'Yep!', off: 'Nope', width: '70px', height: '50px' } %>
					</div>
					<div class="col-investment-type">
						<label for="stockmarket" class="label-investment-type">
				    		the stock market </label> 
				    	<p class="subtext-investment">(e.g. mutual/index funds, stocks)</p>
				  		
				  	</div>
				</div>

				<div class="row-investments checkbox disabled">
					<div class="col-toggle-btn">
					<%= i.check_box :beanie_babies, data: { toggle: 'toggle', onstyle: 'toggle-on-background', offstyle: 'toggle-off-background', on: 'Yep!', off: 'Nope', width: '70px', height: '50px'} %>
					</div>
					<div class="col-investment-type">
						<label for="other">
				    		other moneymakers </label>
				    	<p class="subtext-investment">(e.g. Beanie Babies, stamps)</p>
				  		
				  	</div>
				</div>	
</div>
			<% end %>
	
	
		
	</section>
	<div class="button-row">
		<%= f.submit 'Next', class: 'next-button' %>
	</div>
<% end %>
</body>
