<script>
$(document).ready(function() {
  $('a[href*="#whyinvest"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);

        // $('#stocks').hide(0).fadeIn(100).removeClass('hidden');
        
        return false;
      }
    }
  });
  
});

  </script>

<div class="edu-block">
  <div class="big-headline">
    Ok, let's get started investing!
  </div>
  <div class="headline">
  We'll ask you a few questions so that we can figure out the best options for you and give you our recommendation.
  </div>

  <br /><a href="#whyinvest" class="next-button">Continue</a>
</div>


<div id="whyinvest"><a name="whyinvest"></a>
  <div class="edu-block"> 
    <div class="big-headline">Why do you want to invest your money?</div>

    <div class="headline">
      <%= form_for @investing_profile, url: wizard_path, method: :put do |f| %>
        <%= f.hidden_field :investment_goal, value: "I have a specific goal I want money for and my savings alone won’t get me there" %>
        <%= f.submit "I have a specific goal I want money for and my savings alone won’t get me there", class:"option-button" %>
      <% end %>


       <%= form_for @investing_profile, url: wizard_path, method: :put do |f| %> 
        <%= f.hidden_field :investment_goal, value: "I don't have a specific goal, but I want to make sure my money grows for my future." %>
        <%= f.submit "I don't have a specific goal, but I want to make sure my money grows for my future", class:"option-button" %>
        <% end %>

        <%= form_for @investing_profile, url: wizard_path, method: :put do |f| %>
        <%= f.hidden_field :investment_goal, value: "I've heard it's the right thing to do, but I'm not sure why." %>
        <%= f.submit "I've heard it's the right thing to do, but I'm not sure why.", class:"option-button" %>
        <% end %>

    </div>
  </div>
</div>


