<script type="text/javascript">
    mixpanel.track("intro_other_thoughts", {

    });
</script>
<script>
$(document).ready(function() {
	$('#questions').click(function() {
  	$('#none').hide();
    $('#questions').hide();
    $('#questionsField').removeClass('hiddendiv');
    $('#questionsField').focus();
  });
 });
 </script>

<div class="edu-block">
  <div class="edu-para">
		<p>Great, that's all the info we need to make a recommendation. Thanks for answering all of our questions. </p>

		<p>Before we move on – do you have any remaining questions you'd like us to help you with?</p> 

		<div id="none">
		<%= form_for @guest_user, url: wizard_path, method: :put do |f| %>
	    <%= f.hidden_field :questions, value: "noNe" %>	
      <%= f.submit "Nope, I'm good to go!", class: "short-option-button" %>
  	<% end %>
  	</div>
		
		<input type="button" id="questions" class="short-option-button" value="Yeah, actually...">
    <br />
    <div id="questionsField" class="hiddendiv">
  		<%= form_for @guest_user, url: wizard_path, method: :put do |f| %>
  			<%= f.hidden_field :knows_amount_to_invest, value: "No" %>
    		<div class="">
    			<%= f.text_area :questions, class: 'custom-text-area', :autofocus=>true %>
    		</div>
    		<%= f.submit "Next", class: "next-button" %>
   		<% end %>
  	</div>
	</div>
</div>