<script type="text/javascript">
    mixpanel.track("intro_other_thoughts", {
        
    });
</script>
<script>
$(document).ready(function() {
	$('#questions').click(function() {
  	$('#questionsField').removeClass('hiddendiv');
    $('#questionsField').focus();
  });
 });
 </script>

<div class="edu-block">
  <div class="edu-para">
		<p>Great, that's all the info we need today. Thanks for answering all of our questions – these will help us figure out the best options and plan for you. </p>

		<p>Before we wrap up – do you have any remaining questions or anything else we should take into account when we're figuring out your options?</p>

		<p>We'll try to address all of your questions and concerns in our follow-up.</p>

		<div id="none">
		<%= form_for @investing_profile, url: wizard_path, method: :put do |f| %>
	    <%= f.hidden_field :questions, value: "none" %>	
      <%= f.submit "Nope, I'm good to go!", class:"short-option-button" %>
  	<% end %>
  	</div>
		
		<input type="button" id="questions" class="short-option-button" value="Yeah, actually...">
    <br />
    <div id="questionsField" class="hiddendiv">
  		<%= form_for @investing_profile, url: wizard_path, method: :put do |f| %>
  			<%= f.hidden_field :knows_amount_to_invest, value: "No" %>
    		<div class="">
    			<%= f.text_area :questions, class:'custom-text-area', :autofocus=>true %>
    		</div>
    		<%= f.submit "Next", class:"next-button" %>
   		<% end %>
  	</div>
	</div>
</div>