<script type="text/javascript">
    mixpanel.track("intro_post_investment", {

    });
</script>
<script>
$(document).ready(function() {
  $('a[href*="#interest"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);

        // $('#stocks').hide(0).fadeIn(100).removeClass('hidden');
        
        return false;
      }
    }
  });
  
});

  </script>

<div class="edu-block"> 
  <div class="headline">We're excited to help you with this initial investing and we'd love to help you to continue investing and growing your money. 
  </div>
  <div class="big-headline">Which of these options sound most appealing?</div>
  <br />
  <div class="headline">
    <%= form_for @guest_user, url: wizard_path, method: :put do |f| %>
      <%= f.hidden_field :post_investment_goal, value: "I want to spend very little time and effort on my investments in the future." %>
      <%= f.submit "I want to spend very little time and effort on my investments in the future.", class:"option-button" %>
    <% end %>


     <%= form_for @guest_user, url: wizard_path, method: :put do |f| %> 
      <%= f.hidden_field :post_investment_goal, value: "I want to actively choose my investments in the future." %>
      <%= f.submit "I want to actively choose my investments in the future.", class:"option-button" %>
      <% end %>
 
      <%= form_for @guest_user, url: wizard_path, method: :put do |f| %>
      <%= f.hidden_field :post_investment_goal, value: "I want to learn more and experiment as I get more comfortable." %>
      <%= f.submit "I want to learn more and experiment as I get more comfortable.", class:"option-button" %>
      <% end %>

      <%= form_for @guest_user, url: wizard_path, method: :put do |f| %>
      <%= f.hidden_field :post_investment_goal, value: "I don't plan to invest more in the future." %>
      <%= f.submit "I don't plan to invest more in the future", class:"option-button" %>
      <% end %>


  </div>
</div>



