<script type="text/javascript">
    mixpanel.track("intro_retirement_account", {

    });
</script>
<div class="edu-block">
  <div class="big-headline">
    Do you already have a retirement account (401K or an IRA) set up?
  </div>
  <div class="subtext">
 Usually it's recommended to start with a retirement account because there are tax benefits.
  </div>
  <br />
  
  <%= form_for @guest_user, url: wizard_path, method: :put do |f| %>
	<%= f.hidden_field :has_retirement_account, value: "Yes" %>
	<%= f.submit "Yes", class:"next-button" %>
  <% end %>
 <br />

  <%= form_for @guest_user, url: wizard_path, method: :put do |f| %>
	<%= f.hidden_field :has_retirement_account, value: "No" %>
	<%= f.submit "No", class:"next-button" %>
  <% end %>
</div>