<script type="text/javascript">
    mixpanel.track("intro_risks", {
			"distinct_id": <%= @user.id.to_s %>        
    });
</script>
<script>
$(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);

        return false;
      }
    }
  });
});
</script>


<div class="edu-block">
  <div class="big-headline">
	Do you worry about the risks of investing?
  </div>

	<br /><a href="#anchor" class="next-button">Yes</a><br /><br />
	<%= form_for @investing_profile, url: wizard_path, method: :put do |f| %>
	<%= f.hidden_field :worry_about_risks, value: "No" %>
	<%= f.submit "No", class:"next-button" %>
	<% end %>
</div>

<div id="risks"> <div class="spaced-row"><a name="anchor"></a></div>
	<div class="edu-block"> 
	  <div class="big-headline">Q: Worried about risk?<br/>
	  A: No need to worry. Investing over a long time period is very safe. In fact, there has been no 20 year period where you would've lost money by investing in a stock fund. </div> <br />
		<div class="headline">
			<p class="edu-para">The absolute worst case was if you had invested in 1929 –  the year of the stock market crash followed by the 10-year Great Depression. If you invested $100 in 1929, you would've ended up with $102.50 in 1949. Bummer, but given the disastrous economy, it's reassuring that you still wouldn't have lost money!</p>
	
			<p class="edu-para">Outside of that one year – people who invested $100 in any other year got anywhere between $290 – $2,700 at the end of 20 years. </p>

			<p class="edu-para">If you invest for a long time period, you will not lose money. And more importantly, you will substantially grow your money.</p>
		</div>
		<%= form_for @investing_profile, url: wizard_path, method: :put do |f| %>
		<%= f.hidden_field :worry_about_risks, value: "Yes" %>
		<%= f.submit "Ok, I feel better", class:"next-button" %>
		<% end %>
		<br />
		<%= form_for @investing_profile, url: wizard_path, method: :put do |f| %>
		<%= f.hidden_field :worry_about_risks, value: "Yes and I still have concerns" %>
		<%= f.submit "I still have concerns", class:"next-button" %>
		<% end %>
	</div>
</div>