<% @title=": Feelings About Money" %>
<script type="text/javascript">
    mixpanel.track("student_loans_info", {
        
    });
</script>

<body class="page-background">

	<section id="coach-section">
		<div class="coach-chat-triangle">
		</div>
		<div class="coach-question">
			Nice to meet you, <%= @guest_user.name %>. As your financial coach, I want to get a good sense of your situation.
		</div>
	</section>

	<script>
		$(document).ready(function(){
	    	for(i=1; i<4; i++) {
	    		$('#chat'+i).hide(0).delay(1500*i).fadeIn(100).removeClass('hidden');
	    	}
		});
	</script>

	<div id= "chat1" class="hidden" style="display:none;">
		<section id="coach-section">
			<div class="coach-chat-triangle">
			</div>
			<div class="coach-question">
				I'll ask you some questions to help calculate your <span style="font-weight:500">Savvy Score</span> which reflects your financial health & habits. Then, we'll work together to improve your finances & boost your score!
			</div>

		</section>
	</div>

	<div id= "chat2" class="hidden" style="display:none;">
		<section id="coach-section">
			<div class="coach-chat-triangle">
			</div>
			<div class="coach-question">
				<p class="main-question">
					First off, how savvy do you feel with money? 
				</p>
			</div>
		</section>
	</div>

	
	<div id="chat3" class="hidden" style="display:none;">
		<%= form_for @guest_user, url: wizard_path, method: :put do |f| %>
			<section id="user-section">
				<div class="spaced-row user-content">
					<div class="madlib-sentence">			
						<span class="dropdown-style inner-addon right-addon">
							<%= f.select :savvy_feel, [['Feels like a foreign language', 'Feels like a foreign language'],['I know the basics, but that\'s it', 'I know the basics, but that\'s it'], ['I\'m savvier than most', 'I\'m savvier than most'], ['I\'m a pro', 'I\'m a pro']], {include_blank: 'this much...'}, {:id => "dropdown", :required => true, :class => 'my-dropdown select'} %>
							<span class="glyphicon"><%= image_tag("dropdown-arrow.png", size: "10x10")%>
							</span>
						</span>
					</div>
				</div>	
			</section>
			<div id="SubmitButton" class="hidden" style="display:none;">
				<div class="button-row">
					<%= f.submit "Next", class: 'next-button' %>
				</div>
			</div>

			<div class="page-bottom-padding">
				<div class="padding-text">
					adding space below next button
				</div>
			</div>
		<% end %>
	</div>	

</body>