<script type="text/javascript">
    mixpanel.track("spending", {
        
    });
</script>

<body class="page-background">

<section id="coach-section">
	<div class="coach-question">
		<aside>
		<%= investment_feedback %> </aside> <br />
		<p class="main-question">On that note, how much do you spend vs save?</p>
	</div>
</section>

<script>
$(document).ready(function(){
    $('div.hidden').hide(0).delay(1500).fadeIn(1000).removeClass('hidden');
});
</script>

<section id="user-section">

<div class="hidden" style="display:none;">
	<section id="user-section">
	<%= form_for @user, url: wizard_path, method: :put do |f| %>
		<div class="spaced-row user-content">
			<span class="madlib-sentence">	
				<span class="dropdown-style inner-addon right-addon">
					<%= f.select :spend_vs_income, [['More than a third', 1], ['Not much, if any', 2], ['I\'m in the red', 3]] %>
				<span class="glyphicon"><%= image_tag("dropdown-arrow.png")%></span>
				</span>
			</span>
		</div>
		<div class="button-row">
			<%= f.submit "Next", class: 'next-button' %>
		</div>
	</section>
</div>
<% end %>

</body>

