<script type="text/javascript">
    mixpanel.track("student_loans_info", {
        
    });
</script>
<body class="page-background">

<section id="coach-section">
	<div class="coach-chat-triangle"></div>
	<div class="coach-question">
		<%= savvy_feel_feedback %> 
	</div>

</section>

<script>
$(document).ready(function(){
    for(i=1; i<4; i++) {
    	$('#chat'+i).hide(0).delay(1500*i).fadeIn(100).removeClass('hidden');
    }
});
</script>


<div id= "chat1" class="hidden" style="display:none;">
<section id="coach-section">
	<div class="coach-chat-triangle"></div>
	<div class="coach-question">
		<p class="main-question">
		Do you have any student loans?
		</p>
	</div>

</section>

<!-- fade in user input section -->
<script>
$(document).ready(function(){
    $('div.hidden').hide(0).delay(1500).fadeIn(1000).removeClass('hidden');
});
</script>

<div id="chat3" class="hidden" style="display:none;">
	
	<%= form_for @guest_user, url: wizard_path, method: :put do |f| %>

	<section id="user-section">
		
		<div class="spaced-row user-content">
			<div class="madlib-sentence">			
				I owe
				<div class="dropdown-style inner-addon right-addon">
					<%= f.select :student_amount, [['Over $30,000', 3], ['$10,000 - $30,000', 2], ['under $10,000', 1],['nothing', 0] ], {prompt: 'this much...'}, {:required => true, :class => 'my-dropdown select'} %>
					<span class="glyphicon"><%= image_tag("dropdown-arrow.png")%></span>
				</div>
				in student loans. 
			</div>
		</div>	
	</section>


	<div class="button-row">
			<%= f.submit "Next", class: 'next-button' %>
	</div>
	<% end %>
</div>


</body>