<script type="text/javascript">
    mixpanel.track("student_loans_info", {
        
    });
</script>
<body class="page-background">

<section id="coach-section">
	<div class="coach-question">
		Nice to meet you, <%= @current_user.name %>. 
		<aside>
		It’s awesome to get a handle on your money so young! A lot of people deal with student loans through their 20s. 
		</aside>
		<p class="main-question">
		Do you have any student loans?
		</p>
	</div>
</section>

<!-- fade in user input section -->
<script>
$(document).ready(function(){
    $('div.hidden').hide(0).delay(1500).fadeIn(1000).removeClass('hidden');
});
</script>

<div class="hidden" style="display:none;">
	<section id="user-section">
	<%= form_for @user, url: wizard_path, method: :put do |f| %>
		<!--div class="button-row">
			<button type="button" class="btn btn-choice">Yes</button>
			<button type="button" class="btn btn-choice">No</button>
		</div-->
		<div class="spaced-row">
			<p class="madlib-sentence">			
				I owe
				<span class="dropdown-style inner-addon right-addon">
					<%= f.select :student_amount, [['under $10,000', 0], ['$10,000 - $30,000', 1], ['Over $30,000', 2], ['nothing', 3]]%>
				<span class="glyphicon"><%= image_tag("dropdown-arrow.png")%></span>
				</span>
				in loans. 
			</p>
		</div>

		<div class="button-row">
			<%= f.submit "Next", class: 'next-button' %>
		</div>
	</section>
</div>
	<% end %>

</body>