<% @title=": Student Loans" %>
<script type="text/javascript">
    mixpanel.track("student_loans_info", {
        
    });
</script>

<body class="page-background">

	<section id="coach-section">
		<div class="coach-chat-triangle"></div>
		<div class="coach-question">
			Let's start with debt. Do you have any student loans?
		</div>
	</section>

	<script>
		$(document).ready(function(){
    		for(i=1; i<2; i++) {
    			$('#chat'+i).hide(0).delay(1500*i).fadeIn(100).removeClass('hidden');
    		}
		});
	</script>

	
	<div id="chat1" class="hidden" style="display:none;">
		<%= form_for @guest_user, url: wizard_path, method: :put do |f| %>
			<section id="user-section">		
				<div class="spaced-row user-content">
					<div class="madlib-sentence">
						<div class="dropdown-style inner-addon right-addon">
							<div id="student-loans">
								<%= f.select :student_amount, [['I have student loans', 1],['I don\'t have any student loans', 0] ], {include_blank: 'I do/don\'t...'}, {:id => "dropdown", :required => true, :class => 'my-dropdown select'} %>
								<span class="glyphicon"><%= image_tag("dropdown-arrow.png", size: "10x10")%></span>
							</div>
						</div>
						<div id="spacing">
							and
						</div>
						<div class="dropdown-style inner-addon right-addon">
							<div id="student-attitude">
								
								<%= f.select :student_attitude, [['I\'m fine with them', 'I\'m fine with them'], ['I want to pay them off ASAP', 'I want to pay them off ASAP']], {include_blank: 'I feel...'}, {:id => "dropdown", :class => 'my-dropdown select'} %>
								<span class="glyphicon"><%= image_tag("dropdown-arrow.png", size: "10x10")%></span>
							</div>
						</div>
						 
					</div>
				</div>	
			</section>
			<div id="NextButton">
				<div class="button-row">
					<%= f.submit "Next", class: 'next-button' %>
				</div>
			</div>

			<div class="page-bottom-padding">
				<div class="padding-text">
					adding space below next button
				</div>
			</div>
		<% end %>
	</div>	

</body>