<script type="text/javascript">
    mixpanel.track("intro_ways_to_invest", {
        
    });
</script>
<script>
$(document).ready(function() {
  $('a[href*="#anchor"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);

        // $('#stocks').hide(0).fadeIn(100).removeClass('hidden');
        
        return false;
      }
    }
  });
  $('a[href*="#anchor1"]:not([href="#"])').click(function() {
  //  $('#funds').show();
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);

        
        return false;
      }
    }
  });
});

  </script>


<div class="edu-block">
  <div class="big-headline">
  There are 2 main ways to invest in the stock market:
  </div>
  <div class="headline">
	<ul>
		<li>buy a specific company's stock</li>
		<li>buy funds (e.g. mutual funds, index funds)</li>
	</ul>
	<p>We believe funds are the best place to start. </p>
	<p>Would you like to know more about the tradeoffs between these two?</p>
  </div>


	<br /><a href="#anchor" class="next-button">Yes</a><br /><br />

	<%= form_for @investing_profile, url: wizard_path, method: :put do |f| %>

	<%= f.hidden_field :explain_stocks_vs_funds, value: "No" %>

	<%= f.submit "No", class:"next-button" %>
	<% end %>
</div>

<a name="anchor"></a>
<div class="edu-block"> 
  <div class="big-headline">Investing in a specific company's stock
	</div>
	<div class="headline">
		<p class="edu-para">If you invest in a specific company, your money will go up and down following the company's ups and downs. </p>

		<p class="edu-para">The Good: it can be really fun to research and speculate on companies. And this can sometimes lead to big rewards!</p>

		<p class="edu-para">The Bad: this can also lead to big losses! Also, individual stocks tend to require more time and research than funds.</p>

		<p><span style="font-weight:bold;">Main takeaway: this is a risky type of investment. </span>
		<br />Because of this, we don't recommend starting here or putting all of your money into individual stocks.</p>
	</div>

	<br /><p><a href="#anchor1" class="next-button">Continue</a></p>
</div>


<div id="funds"><a name="anchor1"></a>
	<div class="edu-block">
		<div class="big-headline">Investing in funds
		</div>
		<div class="headline">
			<p class="edu-para">A fund is a collection of company stocks. </p>

			<p class="edu-para">The Good: Funds lower your risk by investing your money in a range of companies so you're not dependent on any one company's success or failure. Funds also require less time and energy to manage than individual stocks.</p>

			<p class="edu-para">The Bad: Some would say it's less exciting than investing in individual stocks - there are fewer swings up and down. We think it's great to have less drama! But if you're looking for excitement, funds are going to seem a bit dull.</p>
		</div>


		<%= form_for @investing_profile, url: wizard_path, method: :put do |f| %>

			<%= f.hidden_field :explain_stocks_vs_funds, value: "Yes" %>

			<%= f.submit "Got it", class:"next-button" %>	
		<% end %>
	</div>
</div>
