<% @title=": Change Password" %>
<script type="text/javascript">
    mixpanel.track("change_password", {
        
    });
</script>


<body class="city-bottom blue-bkgd">

  <div class="receiver-header-image">
    <%= image_tag("invite_flying_pig_savings.png", class:"saver-header-icon") %>
  </div>


   
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="saver-question-block centered-title">
      <div class="hero-title"> Change your password </div>
      <div class="spaced-row ">
          <div class="dropdown-style">
            <%= f.password_field :password, autofocus: true, autocomplete: "off", style:"width:250px; color:#fff;", placeholder: "new password" %>
          </div>
      </div>

      <div class="spaced-row ">
          <div class="dropdown-style">
            <%= f.password_field :password_confirmation, autocomplete: "off", style:"width:250px; color:#fff;", placeholder: "confirm new password" %>
          </div>
      </div>

      <div class="spaced-row"></div>
      <div class="button-row">
        <%= f.submit "Change my password", class: 'next-button' %>
      </div>
    </div>
  <% end %>

  <div class="sign-in-link">
    <%= render "devise/shared/links" %>
  </div>

</body>