<% @title=": Forgot Password" %>
<script type="text/javascript">
    mixpanel.track("forgot_password", {
        
    });
</script>


<body style="background-color:#eee;">

  <%= link_to root_path do %>
    <div class="receiver-header-image" style="padding-top:0%;text-align: center;">
      <%= image_tag("savvy_logo_subtle.png", class:"saver-header-icon") %>
    </div>
  <% end %>






<div class="saver-question-block centered-title">
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		<%= devise_error_messages! %>

	
		<div class="hero-title" style="text-align:center;color:#333;font-weight:500;"> Reset password </div>


    <div class="spaced-row">
       <div class="dropdown-style">
				<%= f.email_field :email, class: "border-underline", style:"width:250px; color:#333; border-bottom:1px solid #666;", placeholder: "email address" %>
			</div>

			<div class="button-row">
				<%= f.submit "Send me a reset link", class: 'next-button' %>
			</div>
		</div>
	
	<% end %>

	
		<%= link_to "Sign in", new_customer_session_path, class:"lightgray-link" %>
	
</div>

</body>
