<% @title=": Forgot Password" %>
<script type="text/javascript">
    mixpanel.track("forgot_password", {
        
    });
</script>

<div style="margin-top:20%">
<section id="intro-page">
  <div class="intro_image_block"><%= image_tag("savvy_thumbnail.png", style:"width:150px;height:auto;") %> </div>
  <p class="app-tagline"> Reset Password </p>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			<%= devise_error_messages! %>

	  		<section id="user-section">
	        <div class="spaced-row user-content">
	          <div class="row-future">
	            <div class="dropdown-style">
		    				<%= f.email_field :email, class: "border-underline", style:"width:250px;", placeholder: "email address" %>
		  				</div>
		  			</div>

		  			<div class="button-row">
		    			<%= f.submit "Send me reset password instructions", class: 'next-button' %>
		  			</div>
		  		</div>
	  		</section>
		<% end %>

	<div class="sign-in-link">
		<%= render "devise/shared/links" %>
	</div>

	</section>
</div>