<% @title=": Forgot Password" %>
<script type="text/javascript">
    mixpanel.track("forgot_password", {
        
    });
</script>


<body class="city-bottom blue-bkgd">

  <div class="receiver-header-image">
    <%= image_tag("invite_flying_pig_savings.png", class:"saver-header-icon") %>
  </div>






<div class="saver-question-block centered-title">
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		<%= devise_error_messages! %>

	
		<div class="hero-title"> Reset password </div>


    <div class="spaced-row">
       <div class="dropdown-style">
				<%= f.email_field :email, class: "border-underline", style:"width:250px; color:#fff", placeholder: "email address" %>
			</div>

			<div class="button-row">
				<%= f.submit "Send me a reset link", class: 'next-button' %>
			</div>
		</div>
	
	<% end %>

	
		<%= link_to "Sign in", new_customer_session_path, class:"lightgray-link" %>
	
</div>

</body>
