<script>
$(document).ready(function() {
  $('a[href*="#follow-up"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);

        
        return false;
      }
    }
  });
  
});

</script>

<div class="edu-block">
  <div class="big-headline">
  	What do you owe?
  </div>
  <div class="headline">
   Do you have any of the following?
  </div>
  <div class="subtext">
  (Choose as many as you like)
  </div>
  <br />
  <%= form_for @guest_user, url: wizard_path, method: :put do |f| %>
    <div class="option-row">
    <%= f.fields_for :has_these_types_of_debt do |i| %>
      
        <label class="option-row"><%= i.check_box :student_debt %> Student Loans</label><br />
        <label class="option-row"><%= i.check_box :car_loans %> Car Loans</label><br />
        <label class="option-row"><%= i.check_box :mortgage_loans %> Mortgage Loans</label><br />
        <label class="option-row"><%= i.check_box :personal_loans %> Personal Loans</label><br />
        <label class="option-row"><%= i.check_box :credit_card_debt %> Credit Card Debt</label><br />
        <label class="option-row"><%= i.check_box :none %> None of these</label>
	   <% end %>
     <br /><br />
	 <a href="#follow-up", class="next-button">Next</a>
    </div>
  <% end %>


<a name="follow-up"></a>
<div class="edu-block">
    <div class="headline">There are a few main areas that make up your financial health and habits.</div>
       
    </div>
    <br />
    <div class="headline">
     
      <br />
    </div>

  </div>
</div>