<div class="edu-block">
   	<div class="headline"> 
         <%= spending_feedback %>
      </div><br />


      <div class="big-headline">Investments</div>
   	 <div class="headline">
   	 Do you have any money invested?
   	 </div> <br />
   	 <div class="headline">
   	 <%= form_for @savvy_score_user, url: wizard_path, method: :put do |f| %>
   	 <div class="option-row">
       <%= f.fields_for :investment_types do |i| %>
           <label><%= i.check_box :retirement_funds %> Any retirement fund(s) (e.g. 401K, IRA) </label><br />
           <label><%= i.check_box :stock_funds %> Non-retirement funds (e.g. mutual/index funds)</label><br />
           <label><%= i.check_box :indiv_stocks %> Individual company stocks </label><br />
           <label><%= i.check_box :real_estate %> Real estate investments </label><br />
           <label><%= i.check_box :none %> None of these</label>
       <% end %>



   	 	<br /><br/>

   	 	<%= f.submit "Next", class:"next-button" %>

   	 <% end %>
   	 </div>
</div>