<% @title=": Upload Bill" %>
<script type="text/javascript">
    mixpanel.track("bill_upload", {

    });
</script>

<script>
	$(function() {
	  $('.directUpload').find("input:file").each(function(i, elem) {
	    var fileInput    = $(elem);
	    var form         = $(fileInput.parents('form:first'));
	    var submitButton = form.find('input[type="submit"]');
	    var progressBar  = $("<div class='bar'></div>");
	    var barContainer = $("<div class='progress'></div>").append(progressBar);

	    progressBar.css('background', '#FFF').css('display', 'block').css('width','100%').css('height', '10px');
	    submitButton.prop('disabled', true);
	    fileInput.after(barContainer);
	    fileInput.fileupload({
	      
	      fileInput:       fileInput,

	      url:             form.data('url'),
	      type:            'POST',
	      autoUpload:       true,
	      formData:         form.data('form-data'),
	      paramName:        'file', // S3 does not like nested name fields i.e. name="user[avatar_url]"
	      dataType:         'XML',  // S3 returns XML if success_action_status is set to 201
	      replaceFileInput: false,
	      
	      progressall: function (e, data) {
	      	submitButton.prop('disabled', true);
	        var progress = parseInt(data.loaded / data.total * 100, 10);
	        progressBar.css('width', progress + '%')
	      },


	      start: function (e) {
	        submitButton.show();
		
			progressBar.css('background-color', '#FFD25D').css('display', 'block').css('width','100%');

	        progressBar.
	          css('background', '#FFBA1F').
	          css('display', 'block').
	          css('width', '0%').
	          text("");

	       
	      },
	      done: function(e, data) {
	        submitButton.prop('disabled', false);
	        progressBar.text("");

	        // extract key and generate URL from response
	        var key   = $(data.jqXHR.responseXML).find("Key").text();


	        // create hidden field
	        var input = $("<input />", { type:'hidden', name: fileInput.attr('name'), value: key })
	        form.append(input);

	        $('#bill_file_name').value = key;
	      },
	      fail: function(e, data) {
	        submitButton.prop('disabled', false);

	        progressBar.
	          css("background", "red").
	          text("");
	        
	      }
	    });
	  });
	});
</script>

<body style="background-color:#fff;">

<%= link_to root_path do %>
	<div class="header dashboard_header">
	  <div class="dashboard-header-icon-block"><%= image_tag("flying_pig_header.png", class:"dashboard-header-icon") %> </div>
	  <div class="dashboard-header-logo-block"> <%= image_tag("savvysaverlogo.png", class:"dashboard-header-logo") %></div>
	    <br />
	  </div>
	</div>
<% end %>




  <div style="padding: 20px;">
  	
  	<div class="bill-upload-headline">
    	
        Upload your latest bill and we'll take it from there! <br />

    </div>
  	<div class="bill-upload-text" id="bill-terms">
  		<br />
	    <div class="highlights-block">
				<div class="headline" style="color:#333333;">
			    Highlights from our <%= link_to "Terms of Service", terms_of_service_path %>: <br />
					<ul>
					<li>You're granting Savvy authorization to act on your behalf. </li>
					<li>We'll change your rate, but won't change your service or contract without checking in with you first. </li>
					<li>We'll charge you 1/3 of the total amount we save you for the first year, and you'll keep 2/3.</li>
					</ul>
				</div>
			</div>
		<br />
	</div>
	    


    <%= form_for @ticket, url: ticket_path(@ticket), html: { method: :put, class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } } do |f| %>
    	
    	
    		<div class="consent-button">
	    		I agree to these terms
	    		
	    	</div>
	    
	   


    	<div id="bill-upload" class="bill-upload-block">
				
    		<div class="bill-file-row">
    	
		    	<div class="bill-select-btn-block">
						<div class="fileContainer">
							<div class="bill-step">
								<%= image_tag("lp_step_1.png", class:"saver-header-icon") %>
							</div>
							<span style="font-size:15px; color:#333;">Upload your bill</span>
							<div class="dashboard-main-module-icon-block" style="width: 140px; margin-bottom: 0;">
						  		<%= image_tag('bill_upload_btn.png', class:"dashboard-main-module-icon") %>  	
						    </div>
						<%= f.file_field :bill_key, :class=>'bill-select-link' %>
						</div>
					</div>
					<%= f.hidden_field :has_bill, value: true %>
					<%= f.hidden_field :gave_consent, value: true %>
				</div>
	
			<hr />
			<div class="phonenum">
				<div class="bill-step">
					<%= image_tag("lp_step_2.png", class:"saver-header-icon") %>
				</div>
				Tell us which phone # is linked to this bill <br />
				<div class="dropdown-style" style="margin-bottom:8px; border-bottom:1px solid #333 !important;">
					<%= f.telephone_field :phone_number, :class=>"madlib-sentence", :style=>"color:#333;text-align: center;"%>
				</div>
				<br />
				<span style="font-size:13px; color:#666;"> (used to verify your account with your provider) </span>
			</div>
			<br /><br />
			<%= f.submit "Upload bill", class: "next-button" %>
			</div>
		<% end %>
		
		</div>
	
	</div>
</body>