<% @title=": Upload Bill" %>
<script type="text/javascript">
    mixpanel.track("bill_upload", {

    });
</script>

<script>
	$(function() {
	  $('.directUpload').find("input:file").each(function(i, elem) {
	    var fileInput    = $(elem);
	    var form         = $(fileInput.parents('form:first'));
	    var submitButton = form.find('input[type="submit"]');
	    var progressBar  = $("<div class='bar'></div>");
	    var barContainer = $("<div class='progress'></div>").append(progressBar);

	    progressBar.css('background', '#FFF').css('display', 'block').css('width','100%').css('height', '50px');
	    submitButton.hide();
	    submitButton.prop('disabled', true);
	    fileInput.after(barContainer);
	    fileInput.fileupload({
	      
	      fileInput:       fileInput,

	      url:             form.data('url'),
	      type:            'POST',
	      autoUpload:       true,
	      formData:         form.data('form-data'),
	      paramName:        'file', // S3 does not like nested name fields i.e. name="user[avatar_url]"
	      dataType:         'XML',  // S3 returns XML if success_action_status is set to 201
	      replaceFileInput: false,
	      
	      progressall: function (e, data) {
	      	submitButton.prop('disabled', true);
	        var progress = parseInt(data.loaded / data.total * 100, 10);
	        progressBar.css('width', progress + '%')
	      },


	      start: function (e) {
	        submitButton.show();
		
			progressBar.css('background-color', '#84D1B5').css('display', 'block').css('width','100%');

	        progressBar.
	          css('background', '#54C4AA').
	          css('display', 'block').
	          css('width', '0%').
	          text("");

	       
	      },
	      done: function(e, data) {
	        submitButton.prop('disabled', false);
	        progressBar.text("");

	        // extract key and generate URL from response
	        var key   = $(data.jqXHR.responseXML).find("Key").text();


	        // create hidden field
	        var input = $("<input />", { type:'hidden', name: fileInput.attr('name'), value: key })
	        form.append(input);

	        $('#bill_file_name').value = key;
	      },
	      fail: function(e, data) {
	        submitButton.prop('disabled', false);

	        progressBar.
	          css("background", "red").
	          text("");
	        
	      }
	    });
	  });
	});
</script>

<body style="background-color:#eee;">

<div class="header dashboard_header">
  <div class="dashboard-header-icon-block"><%= image_tag("flying_pig_header.png", class:"dashboard-header-icon") %> </div>
  <div class="dashboard-header-logo-block"> <%= image_tag("savvysaverlogo.png", class:"dashboard-header-logo") %></div>
    <br />
  </div>
</div>


<div class="dashboard-content-block">

  <div class="dashboard-main-module">
    <div class="dashboard-big-headline">
      
        Upload your latest cable / internet bill and we'll take it from there! <br /><br />

        


    </div>

    <%= form_for @ticket, url: ticket_path(@ticket), html: { method: :put, class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } } do |f| %>

    <div class="bill-file-row">
    	
    	<div class="bill-select-btn-block">
			<div class="fileContainer">
				Select File
			<%= f.file_field :bill_key, :class=>'bill-select-link' %>
			</div>
		</div>
		<%= f.hidden_field :has_bill, value: true %>
	</div>
	<br />
	<%= f.submit "Upload bill", class: "next-button" %>
	<% end %>

	</div>
</body>