<p style="text-align:center; margin:auto;"><%= image_tag('https://www.getsavvier.com/assets/lp_hero_image.png', class:"email-header-image") %></p>

<p>
Hey there,</p>

<p>Your friend <%= @customer.first_name %> wants you to check out Savvy! Savvy saves you money by negotiating a lower cable/internet bill on your behalf. They deal with the hassle so you can relax. </p>
<p>Sign up now and you can thank <%= @customer.first_name %> after you save some money!</p>

<div>
  <table cellspacing="0" cellpadding="0"> 
	  <tr> 
	  	<td align="center" width="300" height="40" bgcolor="#00A99D" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block;">
	    	<span style="color: #ffffff;">
	       		<%= link_to "Sign Up", "http://www.getsavvier.com/r/#{@customer.invite_url_param}?email=#{@invite.receiver_email}", class: "email-button" %>
	    	</span>
	  	</td> 
	  </tr> 
  </table> 
</div>

<br /><br />
<p><b>Why Savvy?</b></p>
  <ul>
    <li>Most people overpay for their cable and internet. That stinks. </li>
    <li>Most people don't want to negotiate with their cable/internet companies. Understandable. </li>
    <li>There's real savings at stake – on average, Savvy saves people $300/year. Seriously.</li>
    <li>There's nothing to lose. You pay 1/3 of what Savvy saves you in the first year and you keep the rest.</li>
  </ul>

<p>Join <%= @customer.first_name %> and start saving some money today!</p>

<p>Happy savings,<br />
Savvy</p>