<% @title=": Sign In" %>
<script type="text/javascript">
    mixpanel.track("sign_in", {
        
    });
</script>

<script>
  $('document').ready(function() {
    $(".alert").animate({opacity:'0'}, 10000).hide(1500);
  });
</script>

<meta property="og:image" content="https://www.getsavvier.com/assets/fb_sharing_image_1.png">
<meta property="og:image" content="https://www.getsavvier.com/assets/FB-ad-aprilreferral.png">

<body style="background-color:#fff;">

  <%= link_to root_path do %>
    <div class="receiver-header-image" style="padding-top:0%;text-align: center;">
      <%= image_tag("savvy_logo_subtle.png", class:"saver-header-icon") %>
    </div>
  <% end %>

 <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

 <div class="signup-white-block">
  <div class="signup-block" id="email">
    <div class="hero-title" style="text-align:center;color:#333;font-weight:500;">Sign in to Savvy!
    </div>

    <div class="signup-buttons-block">

      <div class="signup-button">
        <%= link_to customer_facebook_omniauth_authorize_path do %>
        <div class="signup-fb-button">
          <div class="fb-icon-box">
          <%= image_tag("fb_button_icon_blue.png", class:"fb_signin_icon") %>
          </div>
          <span class="signin-button-text">Connect with Facebook</span>
        </div>
        <% end %>
      </div>

      <div class="signup-button">
        <%= link_to customer_google_oauth2_omniauth_authorize_path do %>
        <div class="signup-google-button">
          <div class="google-icon-box">
            <%= image_tag("google_button_icon.png", class:"fb_signin_icon") %>
          </div>
          <span class="signin-button-text" style="margin-left:32px; float:left;">Connect with Google</span>
        </div>
        <% end %>
      </div>

      <div class="signup-button">
        <a href="#email-fields">
        <div class="signup-email-button">
          <div class="email-icon-box">
            <%= image_tag("email_signup_icon.png", class:"email_signin_icon") %>
          </div>
           
            <span class="signin-button-text" style="margin-left:32px; float:left;">Sign in with your email</span>
        </div>
        </a>
      </div>
    

      <div id="email-fields"> 
        <div id="email-fields-area">

          <div class="dropdown-style" style="margin-top:10px;">
            <%= f.email_field :email, value: (params[:email]), class: "border-underline", style:"width:300px;color:#fff;", placeholder: "email address" %>
          </div>
          <div class="spaced-row"></div>
          <div class="dropdown-style" style="margin-top:10px;">
            <%= f.password_field :password, class: "border-underline", style:"width:300px;color:#fff;", placeholder: "password (at least 6 characters)", autocomplete: "off" %>
          </div>
         <br />
          
          <%= f.submit "Get Started", class: "next-button", style:"margin-bottom:30px;margin-top:30px;" %>

          <br />
          <%= link_to "Forgot your password?", new_customer_password_path %>
          <br /> <br />
          <%= link_to "Create an account", new_customer_registration_path %>
          <br /><br />

        </div>

      </div>

      </div>

    </div>
  </div>
  <% end %>


<section class="lp_footer">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <div class="footer-logo" style="margin-top: 20px;">
      <%= image_tag("savvy_logo_subtle.png", class:"saver-header-icon") %>
    </div>
  </div>
  <div class="footer-links col-xs-12 col-sm-9 col-md-9 col-lg-9">
    <div class="footer-nav-right">
      <ul class="nav-right-items">
        <li><a href="/about-us" class="dashboard-link">About</a></li>
        <li><a href="/contact-us" class="dashboard-link">Contact</a></li>
        <li><a href="/faq" class="dashboard-link">FAQ</a></li>
        <li><a href="/terms-of-service" class="dashboard-link">Terms</a></li>
        <li><a href="/privacy-policy" class="dashboard-link">Privacy Policy</a></li>
      </ul>
      
    </div>
  </div>
</section>




</body>