<% @title=": Sign In" %>
<script type="text/javascript">
    mixpanel.track("sign_in", {
        
    });
</script>

<body class="page-background">

  <div class="splash-section">
    <p class="app-name"><%= image_tag("savvy-logo.png", class:"app-name") %> </p>
    <p class="app-tagline"> The free financial coach you've always wanted </p>
  


    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <section id="user-section">
        <div class="spaced-row user-content">
          <div class="row-future">
            <div class="dropdown-style">
            <%= f.email_field :email, class: "madlib-sentence border-underline", placeholder: "email address" %>
            </div>
          </div>

          <div class="row-future">
          <div class="dropdown-style">
            <%= f.password_field :password, class: "madlib-sentence border-underline", placeholder: "password", autocomplete: "off" %>
            </div>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="row-future">
              <%= f.check_box :remember_me, class: "madlib-sentence" %>
              <%= f.label :remember_me, class:"unbolded-label" %>
            </div>
          <% end -%>

          <div class="spaced-row"></div>
          <div class="button-row">
            <%= f.submit "Sign In", class: 'next-button' %>
          </div>
        </div>
      </section>
    <% end %>
  </div>

  <div class="sign-in-link">
    <%= link_to "Sign up", root_path %><br />
    <%= render "devise/shared/links" %>
  </div>

</body>
