<% @title=": Sign In" %>
<script type="text/javascript">
    mixpanel.track("sign_in", {
        
    });
</script>

<script>
  $('document').ready(function() {
    $(".alert").animate({opacity:'0'}, 10000).hide(1500);
  });
</script>

<div class="header saver-header">
  <div class="saver-header-icon-block"><%= image_tag("piggybank2.png", class:"saver-header-icon") %> </div>
  <div class="saver-header-logo-block"> <%= image_tag("savvysaverlogo.png", class:"saver-header-logo") %></div>
    <br /> <hr class="saver-hr"/>
  </div>
</div>  

<div class="saver-question-block">
  <div class="big-headline"> Sign in to Savvy </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      
        <div class="spaced-row ">
            <div class="dropdown-style">
            <%= f.email_field :email, value: (params[:email]), class: "border-underline", style:"width:250px;color:#333;", placeholder: "email address", autofocus: true %>
            </div>
        </div>

        <div class="spaced-row">
          <div class="dropdown-style">
            <%= f.password_field :password, class: "border-underline", style:"width:250px; color:#333;", placeholder: "password", autocomplete: "off" %>
            </div>
        </div>

          <% if devise_mapping.rememberable? -%>
            <div class="spaced-row">
              <%= f.check_box :remember_me, class: "madlib-sentence" %>
              <%= f.label :remember_me, class:"unbolded-label" %>
            </div>
          <% end -%>

        <div class="spaced-row"></div>
        <div class="button-row">
          <%= f.submit "Sign In", class: 'next-button' %>
        </div>
      
    <% end %>
    
    <%= link_to "Forgot your password?", new_customer_password_path %><br /><br />
  

  
    <%= link_to "Sign up", new_customer_registration_path %><br />
  

  </section>
</div>