<% @title=": Sign In" %>
<script type="text/javascript">
    mixpanel.track("sign_in", {
        
    });
</script>


  
<div style="margin-top:20%">
<section id="intro-page">
  <div class="intro_image_block"><%= image_tag("savvy_thumbnail.png", style:"width:150px;height:auto;") %> </div>
  <p class="app-tagline"> Welcome to Savvy </p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <section id="user-section">
        <div class="spaced-row user-content">
          <div class="row-future">
            <div class="dropdown-style">
            <%= f.email_field :email, value: (params[:email]), class: "border-underline", style:"width:250px;", placeholder: "email address", autofocus: true %>
            </div>
          </div>

          <div class="row-future">
          <div class="dropdown-style">
            <%= f.password_field :password, class: "border-underline", style:"width:250px;", placeholder: "password", autocomplete: "off" %>
            </div>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="row-future">
              <%= f.check_box :remember_me, class: "madlib-sentence" %>
              <%= f.label :remember_me, class:"unbolded-label" %>
            </div>
          <% end -%>

          <div class="spaced-row"></div>
          <div class="button-row">
            <%= f.submit "Sign In", class: 'next-button' %>
          </div>
        </div>
      </section>
    <% end %>




  <div class="sign-in-link">
    <%= link_to "Sign up", root_path %><br />
    <%= render "devise/shared/links" %>
  </div>

  </section>
</div>