<% @title=": Dashboard" %>
<script type="text/javascript">
    mixpanel.track("dashboard", {

    });
</script>

<!-- Google Code for Signup Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 861537218;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "KqPUCKrbjG8QwofomgM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/861537218/?label=KqPUCKrbjG8QwofomgM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


<script>
    fbq('track', 'CompleteRegistration', {
    value: 10.00,
    currency: 'USD'
    });
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<body style="background-color:#eee;">

<div class="header dashboard_header">
	<div class="dashboard-header-icon-block"><%= image_tag("flying_pig_header.png", class:"dashboard-header-icon") %> </div>
	<div class="dashboard-header-logo-block">	<%= image_tag("savvysaverlogo.png", class:"dashboard-header-logo") %></div>
		<br />
	</div>
</div>


<div class="dashboard-content-block">

  <div class="dashboard-main-module">
    <div class="dashboard-big-headline">Next Step: Check Your Email</div>
    <div class="dashboard-main-module-icon-block"><%= image_tag('email_icon.png', class:"dashboard-main-module-icon") %></div>
    <div class="dashboard-headline">
      
        We'll send you an email with more info on sending us your bill. <br /><br />

        Check your inbox to get started!
        <div class="spaced-row"></div>
        


    </div>
  
  </div>

  <div class="dashboard-main-module">
    <div class="dashboard-main-module-icon-block"><div class="fb-like" data-href="https://www.facebook.com/getsavvier" data-width="100px" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div></div>
    
    <div class="headline"><%= link_to "Like Us On Facebook", "https://www.facebook.com/getsavvier", class:"dashboard-link" %></div>
  </div>

  <div class="dashboard-main-module">
    <div class="dashboard-main-module-icon-block"><%= image_tag('piggybank2.png', class:"saver-header-icon") %></div>
    <div class="headline"><%= link_to "Refer A Friend", "https://www.getsavvier.com/invite", class:"dashboard-link" %></div>
  </div>

<%= link_to "Sign out", destroy_customer_session_path, class:"dashboard-link", method: :delete %>
</div>

</body>