<% @title=": Dashboard" %>
<script type="text/javascript">
    mixpanel.track("dashboard", {

    });
    mixpanel.identify("<%= current_customer.id %>");
    mixpanel.people.set({
      "$email": "<%= current_customer.email %>",    // only special properties need the $
      "$first_name": "<%= current_customer.first_name %>",
      "$last_name": "<%= current_customer.last_name %>",
      "$created": "<%= current_customer.created_at %>",
      "$last_login": "<%= current_customer.last_sign_in_at %>",         // properties can be dates...
      
      
  });
</script>

<!-- Google Code for Signup Conversion Page -->
<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 861537218;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "KqPUCKrbjG8QwofomgM";
  var google_remarketing_only = false;
  /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/861537218/?label=KqPUCKrbjG8QwofomgM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>


<script>
    fbq('track', 'CompleteRegistration', {
    
    });
</script>


<body style="background-color:#eee;">

<div class="header dashboard_header">
	<div class="dashboard-header-logo-block">	<%= image_tag("savvysaverlogo.png", class:"dashboard-header-logo") %></div>
  <div class="nav-right">
    <ul class="nav-right-items">
      <li><%= link_to "Sign out", destroy_customer_session_path, class:"dashboard-link", method: :delete %></li>
    </ul>
    
  </div>
  
</div>


<div class="dashboard-content-block">

  <div class="dashboard-main-module">
    <% if @ticket.has_paid == true %>
      <div class="dashboard-big-headline">Thanks for saving with Savvy!</div>
    <% elsif @ticket.has_bill == true && @ticket.amount_earned != nil %>
      <div class="dashboard-big-headline">Savvy has saved you some money!</div>
      <div class="dashboard-headline">
          To pay, please go <%= link_to "here", charge_path %>
      </div>
    <% elsif @ticket.has_bill == true %>
      <div class="dashboard-big-headline">Sit back and wait for the savings! </div>
        <div class="dashboard-main-module-icon-block"><%= image_tag('billcutting_step_4.png', 
        class:"dashboard-main-module-icon") %></div>
          <div class="dashboard-headline">Thanks for uploading your bill! We'll get started saving you some money!</div>
          <div class="spaced-row"></div>
    <% else %>
      <div class="dashboard-big-headline">Next Step: Upload your bill</div>
      <div class="dashboard-main-module-icon-block"><%= image_tag('dashboard_upload_icon.png', 
        class:"dashboard-main-module-icon") %></div>
      <div class="dashboard-headline">
        
          Take two minutes to grab a screenshot or download a PDF of your bill and upload it here. <br /><br />

          <%= link_to "Upload Bill", bill_upload_path, class:'next-button' %>

          <div class="spaced-row"></div>
          


      </div>

    <% end %>  
  </div>

  <div class="dashboard-sub-module dashboard-sub-module-left" style="padding-top: 40px;">
    <div class="dashboard-sub-module-icon-block"><div class="fb-like" data-href="https://www.facebook.com/getsavvier" data-width="100px" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div></div>
    
    <div class="headline"><%= link_to "Like Us On Facebook", "https://www.facebook.com/getsavvier", class:"dashboard-link" %></div>
  </div>

  <div class="dashboard-sub-module">
    <div class="dashboard-sub-module-icon-block"><%= image_tag('piggybank2.png', class:"saver-header-icon") %></div>
    <div class="headline"><%= link_to "Refer A Friend", "https://www.getsavvier.com/invite", class:"dashboard-link" %></div>
  </div>


</div>

</body>