<script type="text/javascript">
    mixpanel.track("challenge_cc_model", {
        
    });
</script>

<body class="page-background">
<section id="top-nav">
<%= image_tag("savvy-logo.png", class:'top-logo' )%>
<%= link_to "Sign out", destroy_user_session_path, method: :delete, :class=>'sign-out' %>
</section>
<hr />


<section id="coach-section">
	<div class="coach-chat-triangle"></div>
      <div class="coach-question">
        Credit card interest rates can range from 15% to high 20s.
      </div>
 </section>

<section id="coach-section">
	<div class="coach-chat-triangle"></div>
      <div class="coach-question">
        Interest rates are a tricky thing. You already know you'll be paying back your total balance <%= @cc_amount %>, but your interest rate can be harder to calculate. Let's do some quick math.
      </div>
 </section>

 <section id="coach-section">
	<div class="coach-chat-triangle"></div>
      <div class="coach-question">
        Right now your balance is $<%= @cc_amount %> and with your current interest rate of <%= @interest %>, your total due this year will be <%= @cc_amount + (@cc_amount * @interest / 100) %>. 
      </div>
 </section>

</body>