<script type="text/javascript">
    mixpanel.track("challenge_cc_model", {
        
    });
</script>

<body class="page-background">
<section id="top-nav">
<%= image_tag("savvy-logo.png", class:'top-logo' )%>
<%= link_to "Sign out", destroy_user_session_path, method: :delete, :class=>'sign-out' %>
</section>
<hr />


<section id="coach-section">
	<div class="coach-chat-triangle"></div>
      <div class="coach-question">
        Credit card interest rates are tricky to understand. Let's do some quick math.
      </div>
 </section>

<section id="coach-section">
	<div class="coach-chat-triangle"></div>
      <div class="coach-question">
        The interest rate is often calculated on a daily basis (even though it's confusingly called an annual percentage rate). Today your balance is <%= @cc_amount %>.  Your daily interest is <%= @interest %>% / 365, which is <%= daily_interest_rate %>. At the end of today, your new balance will be <%= @cc_amount %> + the interest on that amount (<%= daily_interest_amount %>), adding up to <%= new_daily_balance %>.
      </div>
 </section>

 <section id="coach-section">
	<div class="coach-chat-triangle"></div>
      <div class="coach-question">
        So tomorrow 
      </div>
 </section>

</body>