<% @title=": Mini-Challenge" %>
<script type="text/javascript">
    mixpanel.track("challenge_cc_model", {
        
    });
</script>

<body class="page-background">
<section id="top-nav">
<%= image_tag("savvy-logo.png", class:'top-logo' )%>
<%= link_to "Sign out", destroy_user_session_path, method: :delete, :class=>'sign-out' %>
</section>
<hr />


<section id="coach-section">
  <div class="coach-chat-triangle"></div>
      <div class="coach-question">
        Credit card interest rates are tricky to understand. Many calculate your interest daily (instead of monthly or yearly). Let me do some quick math.
      </div>
 </section>

  <script>
    $(document).ready(function(){
        for(i=1; i<3; i++) {
          $('#chat'+i).hide(0).delay(1250*i).fadeIn(100).removeClass('hidden');
        }
    });
  </script>

<div id= "chat1" class="hidden" style="display:none;">
<section id="coach-section">
  <div class="coach-chat-triangle"></div>
      <div class="coach-question">
         At the end of the year, you'll owe: <div class="big-number">$<%= @cc_amount.to_i %>
         <br />+
         <br />$<%= new_yearly_interest %> 
      </div>
      <aside style="text-align:center">(that's your interest) </aside>

 </section>
</div>

<div id= "chat2" class="hidden" style="display:none;">
 <section id="coach-section">
  <div class="coach-chat-triangle"></div>
      <div class="coach-question">
        That's $<%= (new_yearly_interest / 52).round(2) %> per week you'll be paying in interest instead of <%= what_you_can_buy %>!
      </div>
 </section>

<div class="button-row">
     <%= link_to "Next", challenges_saving_challenge_path, class: "next-button" %>
</div>
</div>
</body>
