<% @title=": Mini-Challenge" %>
<script type="text/javascript">
    mixpanel.track("challenge_get_started", {
        
    });
</script>

<body class="page-background">

	<section id="top-nav">
			<%= image_tag("savvy-logo.png", class:'top-logo' )%>
			<%= link_to "Sign out", destroy_user_session_path, method: :delete, :class=>'sign-out' %>
	</section>
	<hr class="hr-topnav"/>


	<section id="mini-challenge">
			<div class="challenge-title">Your First Mini Challenge</div>
			<hr class="challenge-separator"/>
			<div class="challenge">In the next 5 days, we challenge you to <%= expense_action %> 1 fewer time. </div>
			<hr class="challenge-separator"/>
			That's <%= challenge_frequency %> <%= expense_noun %> this week.
			
	</section>

	<script>
	$(document).ready(function(){
	    for(i=1; i<2; i++) {
	    	$('#chat'+i).hide(0).delay(1250*i).fadeIn(100).removeClass('hidden');
	    }
	});
	</script>
	<div id= "chat1" class="hidden" style="display:none;">
		<section id="coach-section">
			<div class="coach-chat-triangle"></div>
			<div class="coach-question">
				<aside>
					In order to offer encouragement along the way, what's the best phone number to text you at?
				</aside>
			</div>
		</section>

		<!-- fade in user input section -->


		<%= form_for @user, url: user_registration_path, method: :put do |f| %>
		<section id="user-section">

			<div class="spaced-row user-content">
				<div class="madlib-sentence">
					You can reach me at
					<div class="dropdown-style">
						<%= f.telephone_field :phone_number, class: "text-field", placeholder: "555-555-5555",  :autocorrect => "off", :required => true %>.</div>
				</div>
			</div>
			
		</section>

		<div class="button-row">
				<%= f.submit "Next", class: 'next-button' %>
		</div>

	</div>

	<% end %>

</body>