<% @title=": Mini-Challenge" %>
<script type="text/javascript">
    mixpanel.track("challenge_get_started", {
        
    });
</script>

<body class="page-background">
		
	<section id="coach-section">
		<div class="coach-chat-triangle"></div>
		<div class="coach-question">
			<aside>
				Our goal is to save a little extra by <%= @user.fin_profile.biggest_expense %> only <%= challenge_frequency %>x in the next 7 days.
			</aside>
		</div>
	</section>
		

	<script>
	$(document).ready(function(){
	    for(i=1; i<4; i++) {
	    	$('#chat'+i).hide(0).delay(1250*i).fadeIn(100).removeClass('hidden');
	    }
	});
	</script>
	<div id= "chat1" class="hidden" style="display:none;">
		<section id="coach-section">
			<div class="coach-chat-triangle"></div>
			<div class="coach-question">
				<aside>
					I prefer to think of that as saving money <%= 7 - challenge_frequency %> times - so I'll help you count those wins!
				</aside>
			</div>
		</section>
	</div>

	<div id= "chat2" class="hidden" style="display:none;">
		<section id="coach-section">
			<div class="coach-chat-triangle"></div>
			<div class="coach-question">
				<aside>
					As your coach, I'm here to cheer you on and help you crush this challenge. How can I send words of encouragement?
				</aside>
			</div>
		</section>
	</div>	

	<div id= "chat3" class="hidden" style="display:none;">
		<%= form_for @user, url: user_registration_path, method: :put do |f| %>
			<section id="user-section">

				<div class="spaced-row user-content">
					<div class="madlib-sentence">
						You can encourage me with<br \>
						<div class="dropdown-style inner-addon right-addon">
							<%= f.select :contact_prefs, [['1-2 texts this week', '1-2 texts this week'], ['a quick daily text', 'a quick daily text'],['a daily email', 'a daily email'], ['I\'ll check back myself', 'I\'ll check back myself']], { include_blank: "my preferred method..." }, {:id => "dropdown", :required => true, :class => 'my-dropdown select'} %>
							<span class="glyphicon"><%= image_tag("dropdown-arrow.png", size: "10x10")%></span>
						</div>
					</div>
				</div>
			</section>

			<div id="SubmitButton" class="hidden" style="display:none;">
				<div class="button-row">
					<%= f.submit "Next", class: 'next-button' %>
				</div>
			</div>
	      	<div class="page-bottom-padding">
	          <div class="padding-text">
	            adding space below next button
	          </div>
	      	</div>
		<% end %>
	</div>

</body>