<% @title=": Mini-Challenge" %>
<script type="text/javascript">
    mixpanel.track("challenge_retirement_info", {
        
    });
</script>

<body class="page-background">

	<section id="coach-section">
		<div class="coach-chat-triangle"></div>
	    <div class="coach-question">
	        <%= investment_intro %>
      	</div>
    </section>

    <script>
		$(document).ready(function(){
			for(i=1; i<2; i++) {
    			$('#chat'+i).hide(0).delay(1500*i).fadeIn(100).removeClass('hidden');
    		}
		});
	</script>

	<div id="chat1" class="hidden" style="display:none;">
		<%= form_for @fin_profile do |f| %>
			<section id="user-section">		
				<div class="spaced-row user-content">
					<div class="madlib-sentence">
					My company 
						<div class="dropdown-style inner-addon right-addon">
							<div id="401k">
								<%= f.select :company_401k, [['offers a 401k', 'offers a 401k'],['doesn\'t offer a 401k', 'doesn\'t offer a 401k']], {include_blank: 'offers/doesn\'t offer...'}, {:id => "dropdown", :required => true, :class => 'my-dropdown select'} %>
								<span class="glyphicon"><%= image_tag("dropdown-arrow.png", size: "10x10")%></span>
							</div>
						</div>
						<div id="spacing">
							and
						</div>
						<div class="dropdown-style inner-addon right-addon">
							<div id="matching">
								
								<%= f.select :company_matches, [['they match some amount', true], ['they don\'t match', false]], {include_blank: 'matches...'}, {:id => "dropdown", :class => 'my-dropdown select'} %>
								<span class="glyphicon"><%= image_tag("dropdown-arrow.png", size: "10x10")%></span>
							</div>
						</div>
						 
					</div>
				</div>	
			</section>

			<div id="matches-401k">
				<section id="coach-section">
	          		<div class="coach-chat-triangle"></div>
          			<div class="coach-question">          			
            			That's great that your company offers a 401k and matches - I'm going to help you take advantage of it.
            		</div>
            	</section>
            </div>

            <div id="no-match">
				<section id="coach-section">
	          		<div class="coach-chat-triangle"></div>
          			<div class="coach-question">          			
            			That's great that your company offers a 401k! Even though it doesn't match, it's still really valuable - I'll help you take advantage of it.
            		</div>
            	</section>
            </div>

            <div id="no-401k">
				<section id="coach-section">
	          		<div class="coach-chat-triangle"></div>
          			<div class="coach-question">          			
            			That's ok that your company doesn't have a 401k - you can still start a retirement account. I'll show you how.
            		</div>
            	</section>
            </div>

			<div id="NextButton">
				<div class="button-row">
					<%= f.submit "Next", class: 'next-button' %>
				</div>
			</div>

			<div class="padding-bottom">
				<div class="padding-text">
					adding space below next button
				</div>
			</div>
		<% end %>
	</div>	

</body>