<% @title=": Mini-Challenge" %>
<script type="text/javascript">
    mixpanel.track("challenge_saving_model", {
        
    });
</script>

<body class="page-background">

	<section id="top-nav">
    	<%= image_tag("savvy-logo.png", class:'top-logo' )%>
    	<%= link_to "Sign out", destroy_user_session_path, method: :delete, :class=>'sign-out' %>
  	</section>
  	<hr />

  	<section id="coach-section">
    	<div class="coach-chat-triangle"></div>
    	<div class="coach-question">
      	Let's take a moment to imagine that you <%= less_food_message %>.
    	</div>
  	</section>

  	<script>
    	$(document).ready(function(){
      		for(i=1; i<4; i++) {
        		$('#chat'+i).hide(0).delay(1250*i).fadeIn(100).removeClass('hidden');
      		}
    	});
  	</script>

  	<div id= "chat1" class="hidden" style="display:none;">
    	<section id="coach-section">
        <div class="coach-chat-triangle"></div>
        <div class="coach-question">
          Over 6 months, that would be an extra <%= food_savings %> if each <%= each_food_cost %>. That really adds up. 
        </div>
      </section>
  	</div>

    <div id= "chat2" class="hidden" style="display:none;">
      <section id="coach-section">
        <div class="coach-chat-triangle"></div>
        <div class="coach-question">
          What would you do with that cash?
        </div>
      </section>
    </div>

  	<div id= "chat3" class="hidden" style="display:none;">
    	<%= form_for @fin_profile do |f| %>
        <section id="user-section">
          <div class="spaced-row user-content">
            <div class="madlib-sentence"> 
            I would take that <%= food_savings %> and...<br/>
              <div class="dropdown-style inner-addon right-addon">
                
                <%= f.select(:saving_purpose, [['put it toward retirement', 'put it toward retirement'], ['invest it in the stock market', 'invest it in the stock market'], ['pay off loans', 'pay off loans'], ['put it toward a trip', 'put it toward a trip'], ['I\'m not sure - would love help', 'I\'m not sure - would love help']], { include_blank: "do this..." }, {:id => "dropdown", :required => true, :class => 'my-dropdown select'}) %>
                <span class="glyphicon"><%= image_tag("dropdown-arrow.png", size: "10x10")%></span>
              </div>
              <br />
              OR
              <br />
              <div class="comment-field">
                <%= f.text_field :saving_purpose_free_form, class: "text-field", placeholder: "something else..." %>
              </div>
            </div>
          </div>
        </section>
        <div class="button-row">
            <%= f.submit "Next", class: 'next-button' %>
        </div>
      <% end %>
  	</div>

  	

</body>