<% @title=": Mini-Challenge" %>
<script type="text/javascript">
    mixpanel.track("challenge_student_loan_info", {
        
    });
</script>


<body class="page-background">

<section id="top-nav">
<%= image_tag("savvy-logo.png", class:'top-logo' )%>
<%= link_to "Sign out", destroy_user_session_path, method: :delete, :class=>'sign-out' %>
</section>
<hr />

<section id="coach-section">
	<div class="coach-chat-triangle"></div>
      <div class="coach-question">
        Hey <%= @current_user.name %>, we’ll need a couple more details to set up the right <%= @current_focus.titlecase %> mini-challenge. Just these 2 questions below. 
      </div>
    </section>

    <script>
		$(document).ready(function(){
    		for(i=1; i<2; i++) {
    			$('#chat'+i).hide(0).delay(1500*i).fadeIn(100).removeClass('hidden');
    		}
		});
	</script>


<div id= "chat1" class="hidden" style="display:none;">
	<%= form_for @fin_profile do |f| %>

	<section id="user-section">
		
		<div class="spaced-row user-content">
			<div class="madlib-sentence">	
				My current approach is to pay...<br/>
				<div class="dropdown-style inner-addon right-addon">
					<%= f.select(:student_approach, [['less than the amount due', 0], ['the amount due', 1],['more than the amount due', 2], ['not sure ', 3],  ], { include_blank: "my approach..." }, {:id => "dropdown", :required => true, :class => 'my-dropdown select'}) %>
					<span class="glyphicon"><%= image_tag("dropdown-arrow.png", size: "10x10")%></span>
				</div>
			</div>
		</div>

		<div class="spaced-row user-content">
			<div class="madlib-sentence">	
				Ideally, I would<br/>
				<div class="dropdown-style inner-addon right-addon">
					<%= f.select(:student_feeling, [['take my time paying these off', 0], ['pay the amount due each month ', 1], ['get rid of these loans asap', 3], ['I\'m not sure', 4]], { include_blank: "my desire..." }, {:id => "dropdown", :required => true, :class => 'my-dropdown select'}) %>
					<span class="glyphicon"><%= image_tag("dropdown-arrow.png", size: "10x10")%></span>
				</div>
			</div>
		</div>


	</section>
	<div class="button-row">
			<%= f.submit "Next", class: 'next-button' %>
	</div>
<% end %>
</div>


</body>