<script type="text/javascript">
    mixpanel.track("goals_index", {
    	"beta_email": "<%= params[:email] %>"
    });
</script>
<div style="margin-top:20%">
<section id="intro-page">
	<div class="intro_image_block"><%= image_tag("savvy_thumbnail.png", style:"width:150px;height:auto;") %> </div>
	<p class="app-tagline"> Welcome to Savvy </p>
	<p class="button-row">
		<% if User.find_by_email(params[:email]).present? && User.find_by_email(params[:email]).created_at > "2016-10-01".to_date %>
			<%= link_to "Sign back in", new_user_session_path(email: params[:email]), class: "next-button" %>
		<% else %>
			<%= link_to "Get Started", new_user_registration_path(email: params[:email]), class: "next-button" %>
		<% end %>
	</p>
	<br />
</section>
</div>
<% if user_signed_in? %>
	<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% end %>