<% @title=": Introductions" %>

<script type="text/javascript">
    mixpanel.track("goals_introductions", {
        
    });
</script>

<script>
$(document).ready(function() {
  $('a[href*="#anchor"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);

        // $('#stocks').hide(0).fadeIn(100).removeClass('hidden');
        
        return false;
      }
    }
  });
});

</script>


<div class="edu-block">
  <div class="intro_image_block"><%= image_tag("savvy_thumbnail.png", style:"width:150px;height:auto;") %> </div>
    <div class="big-headline">Hi there! </div>

    <div class="headline">Before we dive in, let's get to know each other briefly.</div>
   <br /><br /><a href="#anchor", class="next-button">Next</a>
</div>


<%= form_for @guest_user do |f| %>
<a name="anchor"></a>
<div class="edu-block">        
      What's your name? <br/><br />
      <div class="dropdown-style"> 
        <%= f.text_field :name, class: "border-underline", style:"width:250px;",placeholder: "your first name", autocorrect: "off" %>
      </div>
      <br/><br />
      How old are you? <br/><br />
      <div class="dropdown-style"> 
        <%= f.telephone_field :age, class: "border-underline", style:"width:250px;", placeholder: "your age", :required => true %>
      </div>
    <br /><br />
    <%= f.submit "Next", class: 'next-button' %>
</div>

  <% end %>