<% @title=": Introductions" %>

<script type="text/javascript">
    mixpanel.track("goals_introductions", {
        
    });
</script>

<script>
$(document).ready(function() {
  $('a[href*="#us"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);

        // $('#stocks').hide(0).fadeIn(100).removeClass('hidden');
        
        return false;
      }
    }
  });
  $('a[href*="#you"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);

        // $('#stocks').hide(0).fadeIn(100).removeClass('hidden');
        
        return false;
      }
    }
  });
});

</script>

<div class="edu-block">
  <div class="intro_image_block"><%= image_tag("savvy_thumbnail.png", style:"width:150px;height:auto;") %> </div>
    <div class="big-headline">Hi there! </div>

    <div class="headline option-row">Let's get to know each other a little.</div>
   <br /><a href="#us", class="next-button">Next</a>
</div>

<a name="us"></a>
<div class="edu-block">
  <div>
    <div class="big-headline">We're here to help you invest.</div>

    <div class="headline option-row">We believe strongly in the power of investing and want to make it easier for you to get started. We're early in our journey so we'll ask for your feedback along the way.</div>
  <br /><a href="#you", class="next-button">Next</a>
  </div>
</div>


<%= form_for @guest_user do |f| %>
<a name="you"></a>
<div class="edu-block">        
      <div class="headline option-row">What's your name? </div>
      <div class="dropdown-style" style="width:150px;"> 
        <%= f.text_field :name, class: "border-underline", style:"width:250px;",placeholder: "my first name", autocorrect: "off" %>
      </div>
      <br/><br />
       <div class="headline option-row">How old are you? </div>
      <div class="dropdown-style" style="width:75px;"> 
        <%= f.telephone_field :age, class: "border-underline", style:"width:250px;", placeholder: "my age", :required => true %>
      </div>
    <br /><br />
    <%= f.submit "Next", class: 'next-button' %>
</div>

  <% end %>