<div class="container-fluid">
  <div class="row">
<h1>Ok, let’s figure out when you can <b>pay off your loans</b>.</h1>
<!--h2>First, give us some specifics about your loan.</h2-->

<ul>
<li>How much do you still owe (i.e. your loan balance)?</li>

<%= form_for @loan do |f| %>
	<div class="form-group">
		<div class="left-inner-addon">
			<span>$</span>
			<%= f.text_field :balance, class: 'form-control', placeholder: "Enter amount owed" %>
		</div>
	</div>

<% end %>
<br>
<li>What's the interest rate on your loan?</li>

<%= form_for @loan do |f| %>
	<div class="form-group">

		<%= f.text_field :rate, class: 'form-control', placeholder: "Interest rate" %>
	</div>
<% end %>

<br>
<li>How many more months do you have on your loan?</li> 

<%= form_for @loan do |f| %>
	<div class="form-group">
		<%= f.text_field :months_remaining, class: 'form-control', placeholder: "Months remaining" %>
	</div>
<% end %>
</ul>
</div>
</div>
