Hi Sushmita and Matt,

<p>I've received your request for a user's profile information. Here is that info.</p>

<h3>User Info</h3>
<p><b>User's email address:</b> <%= @user.email %></p>
<p><b>User's name:</b> <%= @user.name %></p>
<p><b>When the user signed up:</b> <%= @user.created_at.to_formatted_s(:long_ordinal) %></p>
<h3>Investing Profile</h3>
<p><b>Interested in the explanation of stocks vs funds:</b> <%= @investing_profile.explain_stocks_vs_funds %></p>
<p><b>Worried about risks:</b> <%= @investing_profile.worry_about_risks %></p>
<p><b>Additional concerns about risk, if any:</b> <%= @investing_profile.concerns_about_risks %></p>
<p><b>Curious about access to money:</b> <%= @investing_profile.curious_about_access_to_money %></p>
<p><b>Additional concerns about access, if any:</b> <%= @investing_profile.remaining_concerns_about_access %></p>
<p><b>Wanted an explanation of diversification:</b> <%= @investing_profile.explain_diversification %></p>
<p><b>Investment goal:</b> <%= @investing_profile.investment_goal %></p>
<p><b>Post investment approach:</b> <%= @investing_profile.post_investment_goal %></p>
<p><b>Knows how much he/she wants to invest:</b> <%= @investing_profile.knows_amount_to_invest %></p>
<p><b>Amount he/she wants to invest:</b> <%= @investing_profile.amount_to_get_started %></p>
<p><b>Has a retirement account of some sort:</b> <%= @investing_profile.has_retirement_account %></p>
<p><b>Has invested before:</b> <%= @investing_profile.has_invested_before %></p>
<p><b>Has these types of debt:</b> <%= @investing_profile.has_these_types_of_debt %></p>
<p><b>Additional questions, if any:</b> <%= @investing_profile.questions %></p>
<p><b>Preferred follow-up:</b> <%= @investing_profile.follow_up_prefs %></p>

<p>Thanks & stay savvy,<br \>
Savvy coach-bot</p>
