<% @title=": Privacy Policy" %>
<script type="text/javascript">
    mixpanel.track("privacy_policy", {

    });
</script>

<body style="background-color:#eee;">

<div class="header dashboard_header">
  <%= link_to root_path do %>
	  <div class="dashboard-header-logo-block"> 
	  	<%= image_tag("savvysaverlogo.png", class:"dashboard-header-logo") %>
	    <br />
	  </div>
	<% end %>
</div>


<div class="tos-content-block">

<div class="tos-headline">
Updated as of February 2017<br />
PRIVACY POLICY<br />
</div>
<div class="tos-content">


<p>Savvy values your privacy and is committed to maintaining your trust.  We provide this Privacy Policy to inform you of our policies and procedures regarding the collection, use, and disclosure of personally identifiable information received from users of this websites located at <%= link_to "www.getsavvier.com", "https://www.getsavvier.com", class: "dashboard_link" %> (the "Website") and all of Savvy’s other products and/or services, interactive features, widgets, and/or other online services that post a link to this Privacy Policy, and all content offered as a part thereof (the "Services").  </p>

<ol>
<p><li><b>Changes.</b>   This Privacy Policy may be updated from time to time for any reason, at our sole discretion.  We will notify you of any material changes to our Privacy Policy by posting the new Privacy Policy on our Website.  You are advised to consult this Privacy Policy regularly for any changes. </li></p>

<p><li><b>Terms of Service.</b>   Your visit to our site is also governed by our Terms of Service. Please review our Terms of Service at <%= link_to "www.getsavvier.com/terms-of-service", "https://www.getsavvier.com/terms-of-service", class: "dashboard-link" %>.</li></p>

<p><li><b>Personal Information.</b>   “Personal Information” may include, but is not limited to information that identifies you as an individual or relates to an identifiable person, such as name, postal address, telephone number, email address, etc.  Savvy does not collect any personal data from visitors to its website that is not voluntarily provided.  Savvy only collects your Personal Information if you register for an account with Savvy’s Website, when you use Savvy’s Services, and when you send Savvy communications in connection with your use of the Services.  </li></p>

<p><li><b>Third Party Personal Information.</b>   We may obtain your Personal Information from third parties, such as third parties with whom we affiliate in providing Savvy’s services.  If you provide Savvy with Personal Information about third parties, you warrant to Savvy that any Personal Information that you provide to Savvy about any third party individuals was obtained by you with full consent, and that the individual has not communicated to you that they wish to opt out of receiving communication from Savvy or having Savvy collect information about him or her. </li></p>

<p><li><b>Use and Sharing of Personal Information.</b>  We use the information we collect from our Website and your use of our Services to provide and improve existing Services; to develop new Services; and to protect you and Savvy.  We also may use this information to offer you tailored content when you visit our Website.  We will not share your personal information with anyone except for our Savvy’s authorized service providers, business affiliates, and business partners for business purposes; or unless we specifically inform you and give you an opportunity to opt out of our sharing your personal information. </p>

<p>In general, we may use and/or share your Personal Information:
<ul>
<li>To respond to your inquiries and your requests regarding our Services.</li>
<li>To send you information regarding our services and changes to our terms, conditions, and policies. </li>
<li>To complete your user account registration, and communicate with you regarding your payment  for our Services.</li>
<li>To interact with other companies on your behalf in providing our Services.</li>
<li>To send you marketing communication and newsletters about our Services.  Savvy likes to keep its customers, personnel and other interested parties informed of news and services of interest to them.  If you do not wish to receive newsletters or notices that we consider may be of interest to you, please let us know by emailing news@getsavvier.com.</li>
<li>To facilitate social sharing functionality.</li>
<li>To facilitate our voluntary referral program and compensate you should you participate.</li>
<li>To collaborate with business affiliates, partners, vendors, or service providers to provide you with our Services.</li>
<li>In connection with our business purposes, including but not limited to data analysis, audits, fraud monitoring and prevention, developing or enhancing new and existing Services, expanding our business activities, etc. </li>
</ul>
</p>

<p>We will not use and/or share your Personal Information:
<ul>
<li>To run interest-based advertising campaigns that collect personal data such as email addresses, telephone numbers, and credit card numbers.</li>
<li>To use or associate personal data with remarketing lists, cookies, data feeds, or other anonymous identifiers.</li>
<li>To use or associate targeting information, such as demographics or location, with any personal data collected from the ad or its landing page.</li>
<li>To share any personal data with Google or third party companies through our remarketing tag or any product data feeds which might be associated with our ads.</li>
<li>To send Google or third party companies precise location information without obtaining your consent. </li>
</ul>
</p>

<p>However, we reserve the right to disclose Personal Information that we believe to be necessary or appropriate in the following circumstances:
<ul>
<li>As required by law, such as to comply with a subpoena, or similar legal process.</li>
<li>When we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request.</li>
<li>To enforce our Terms and Conditions.</li>
<li>To allow us to pursue available remedies or limit the damage we may sustain.</li>
</ul>
</p>

<p><li><b>Personally Non-Identifiable Information:</b>   We may collect personally non-identifiable information, including but not limited to demographic data, age, education level, profession, geographic location or gender, from you at the time of registration, or when you choose to use our Services. This information is not, by itself, sufficient to identify or contact you.  Savvy may store such information, or it may be included in databases owned and maintained by partners, affiliates, agents, or service providers of Savvy.  Savvy may use such information and pool it with other information to track data related to growing the business, such as the total number of visitors to our Website and the domain names of our visitors' Internet service providers.  </li></p>

<p><li><b>Passively Collected Information:</b>   Your visit to our Website may allow us to obtain certain additional, personally non-identifiable information that is collected passively using various technologies.  This information includes but is not limited to, for example, IP addresses, browser types, date and time of page views, location information associated with your IP address, domain names, your interactions to an ad delivered by us or our ad technology partners and other anonymous statistical data involving your use of the Website and/or our services.  This information cannot presently be used to specifically identify you.  </li></p>

<p><li><b>Aggregated Personal Data:</b>   Savvy may analyze your personal data provided through the Website or in connection with rendering the Services, in aggregate form.   This aggregate information does not identify you personally.   We may share this aggregate data with our partners, affiliates, agents, or service providers for business purposes.   We may also disclose aggregated statistics to explain our Services to current and prospective business partners, and to other third parties for other lawful, business-related purposes. </li></p>

<p><li><b>Customer Credit Card Information.</b>   Savvy uses a third party to keep a protected copy of your credit card number. This billing data belongs to you, and by utilizing the Service, you grant Savvy a license to use this data to bill you for services rendered. </li></p>

<p><li><b>Tracking and Advertising.</b>   Savvy’s Website may use the foregoing technologies to track your activity on our Website:

<ul>
<p><li><b>Cookies.</b>   When you visit our Website or otherwise interact with the Service, we may send one or more “cookies” to your computer or other devices.  Cookies are alphanumeric identifiers stored on your computer through your web browser and are used by most websites to help personalize your web experience.  Some cookies may facilitate additional site features for enhanced performance and functionality such as remembering preferences, allowing social interactions, analyzing usage for site optimization, providing custom content, allowing third parties to provide social sharing tools, and serving images or videos from third party websites.  Some features on this site will not function if you do not allow cookies.  We may link the information we store in cookies to any Personal Information that you submit while visiting our Website. </p>

<p>We may use both session ID cookies and persistent cookies.  A session ID cookie expires when you close your browser.  A persistent cookie remains on your hard drive for an extended period of time.  Persistent cookies enable us to track and target the interest of our users to enhance the experience on our site. </p>

<p>Functional cookies, persistent and session type, store information to enable core site functionality, such as Live Chat and Client ID remembrance.</p>

<p>Analytics cookies allow us to count page visits and traffic sources so we can measure and improve the performance of our site and our marketing campaigns.</p>

<p>Advertising cookies may be set through our Website by our advertising partners. Data may be collected by these companies that enable them to serve up advertisements on other sites that are relevant to your interests. </p>

<p>If you do not want information collected through the use of cookies, there is a simple procedure in most browsers that allows you to automatically decline cookies, or be given the choice of declining or accepting the transfer to your computer of a particular cookie (or cookies) from a particular site.  You may also wish to refer to <%= link_to "http://www.allaboutcookies.org/manage-cookies/index.html", "http://www.allaboutcookies.org/manage-cookies/index.html", target: "_blank", class: "dashboard-link" %>.  </p>

<p>If you reject cookies, you may still use our site, but some features on the site will not function properly.</p></li>

<li><p><b>Web Beacons.</b>   Web beacons are electronic files that signal when a webpage, advertisement, video, other content, an email or newsletter has been viewed.  They are usually invisible to you.  We may use web beacons alone or in conjunction with cookies to compile information about our Service.  Web beacons may be used within the Service to track email open rates, web page visits or form submissions.  In some cases, we tie the information gathered by web beacons to your Personal Information to gauge the effectiveness of certain communications and our marketing campaigns.</p></li>

<p><li><b>Log Files.</b>   A Log File is a file that records either events that occur in an operating system or other software runs, or messages between different users of a communication software.  Log file information is automatically reported by your browser or mobile application each time you access the Website or our Services.  Along with cookies and web beacons, log files help provide additional functionality to the Website and Services and help us analyze Website and Services usage more accurately.  We and our third party tracking-utility partners may use log files on our Service to gather automatically gather and store information including, but not limited to, internet protocol (“IP”) addresses, browser type, internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and clickstream data, for business purposes.  </li></p>
</ul>

<p>We may, either directly or through third party companies and individuals we engage to provide services to us, also:
<ul>
<li>Track your use of our Website and the Services for purposes of our own customer support, analytics, research, product development, fraud prevention, risk assessment, regulatory compliance, investigation, etc.</li>
<li>Track your use of the Website and the Services to enable you to use and access the Services and pay for your activities on the Website and through the Services.  </li>
<li>Track your behavior on our own Website and use of the Services to market and advertise our services to you on our Website platform and third party websites.  You may opt out of receiving advertisements by visiting the Network Advertising Initiative (<%= link_to "http://www.networkadvertising.org/choices", "http://www.networkadvertising.org/choices/", target: "_blank", class: "dashboard-link" %>) and/or the Digital Advertising Alliance (<%= link_to "http://www.aboutads.info/choices/", "http://www.aboutads.info/choices/", target: "_blank", class: "dashboard-link" %>).  Please note that even if you choose to opt-out of receiving targeted advertising, you may still receive advertising on the Services, generally.  The advertising will simply not be targeted or specific to your interests.</li>
</ul></p>

<p><li><b>Children.</b>   The Website and our related Services are not intended for anyone under 18, and we do not knowingly collect information from anyone under the age of 18.  Anyone aged 18 or under should not submit any Personal Information without the permission of their parents or guardians.  By using the Website and our related Services, you are representing that you are at least 18 years old. </li></p>

<li><p><b>Links to Other Websites.</b>   This Privacy Policy applies only to this Website and Savvy’s Services.  It does not apply to any third-party sites. </p>

<p>This Privacy Policy does not address, and we are not responsible for, the privacy, information or other practices of any third parties.  The inclusion of a link on our Website to another website, such as Medium.com, does not imply endorsement of the linked site or service by us or by our affiliates.</p>

<p>Please note that we are not responsible for the collection, usage and disclosure policies and practices (including the data security practices) of other organizations, such as Facebook, Apple, Google, Microsoft, RIM or any other app developer, app provider, social media platform provider, operating system provider, wireless service provider or device manufacturer, including any Personal Information you disclose to other organizations through or in connection with the Website or Service. </p></li>

<p><li><b>Security.</b>   We maintain reasonable and appropriate, although not infallible, security precautions.  However, we cannot guarantee that hackers or unauthorized personnel will not gain access to your Personal Information, despite our reasonable efforts.  You should note that in using the Website and our related Services, your information will travel through third party infrastructures which are not under our control.  Please feel free to raise any questions, concerns or specific directions you may have regarding the privacy and security of your information to info@getsavvier.com.</li></p>

<p><li><b>Data Retention.</b>   We will retain your Personal Information for as long as needed to provide the applicable Services, unless a longer retention period is required or permitted by law.</li></p>

<p><li><b>Do Not Track.</b>   Your browser setting may allow you to automatically transmit a "Do Not Track" signal to websites and online service you visit.  Savvy’s Website does not respond to "Do Not Track" signals or other mechanisms from a visitor's browser.  If, in the future, we create a program or protocol to respond to such web browser "Do Not Track" signals, we will inform you of the details of that protocol in this Privacy Policy.  To find out more about "Do Not Track," please visit <%= link_to "https://www.allaboutdnt.com", "https://www.allaboutdnt.com", target: "_blank", class: "dashboard-link" %>. </li></p>

<p><li><b>Google AdWords.</b>  This Website uses the Google AdWords in order to advertise on third party websites (including Google) to previous visitors to our site or to similar audiences online. This may result in you seeing an advertisement on the Google search results page, or a site in the Google Display Network.  Google may include in-ads notice labels to disclose interest-based advertising to their users.  Third-party vendors, including Google, use cookies to serve ads based on someone's past visits to the Website.  Any data collected will be used in accordance with our own privacy policy and Google's privacy policy. Google reserves the right to display to users which remarketing lists users are on, along with the corresponding domain name. You can set preferences for how Google advertises to you using the Google Ad Preference Manager (<%= link_to "https://www.google.com/settings/ads/onweb", "https://www.google.com/settings/ads/onweb/", target: "_blank", class: "dashboard-link" %>), and you can opt out of interest-based advertising entirely by cookie settings or permanently using a browser plugin. </li></p>

<p><li><b>Analytics Software.</b>   We and our third party tracking-utility partners use log files on our Service to automatically gather certain information, including but not limited to internet protocol (“IP”) addresses, browser type, internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and clickstream data, for analytics purposes.  Specifically, we analyze trends, administer the site, track users’ movements around the Website, and  gather demographic information about our user base. </p>

<p>We use Google Analytics, which uses cookies and other, similar technologies to collect and analyze information about use of the Service and report on activities and trends.  This service may also collect information regarding the use of other websites, apps and online resources.  </p>

<p>You can learn about Google’s practices by going to <%= link_to "www.google.com/policies/privacy/partners", "http://www.google.com/policies/privacy/partners/", target: "_blank", class: "dashboard-link" %>, and opt out of them by downloading the Google Analytics opt-out browser add-on, available at https://tools.google.com/dlpage/gaoptout. </p></li>

<p><li><b>Your California Privacy Rights.</b>   Under California Civil Code Section 1798.83, California customers are entitled to request information relating to whether a business has disclosed personal information to any third parties for the third parties’ direct marketing purposes.  You may request and obtain from us once a year, free of charge, certain information about the personal data (if any) we disclosed to third parties for direct marketing purposes in the preceding calendar year.  If applicable, this information would include a list of the categories of personal data that was shared and the names and addresses of all third parties with which we shared information in the immediately preceding calendar year.  If you are a California resident and would like to make such a request, please submit your request in writing to info@getsavvier.com.</li></p>

<p><li><b>Facebook Connect/Open ID Providers.</b>   You may log into your account on our Website and/or access our Services using sign-in services such as Facebook Connect or an Open ID provider.  These services will authenticate your identity and provide you the option to share certain Personal Information with us such as your name and email address to pre-populate our registration form.  Services like Facebook Connect give you the option to post information about your activities on this Website to your profile page to share with others within your network if you so choose.</li></p>

<li><p><b>Public Forum on our Website.</b>   Our Website offers publicly accessible message boards, blogs, and community forums to which you may contribute.  You may submit ideas, photographs, user profiles, writings, music, video, audio recordings, computer graphics, pictures, data, questions, comments, suggestions or other content, including Personal Information (collectively, "User Content"), such as on profiles, blogs and message boards.  We or others may store, display, reproduce, publish, distribute or otherwise use User Content online or offline in any media or format (currently existing or hereafter developed), and may or may not attribute it to you.  </p>

<p>Please think carefully before deciding what information you share, including Personal Information, in connection with your User Content. Please note that Savvy does not control who will have access to the information that you choose to make public, and cannot ensure that parties who have access to such publicly available information will respect your privacy or keep it secure.  Our promises regarding handling of your Personal Information under this Privacy Policy do not apply to any information that you disclose publicly, share with others or otherwise upload onto the publicly available positions of our Website. We are not responsible for the accuracy, use, or misuse of any User Content that you disclose or receive from third parties through the Website.</p>

<p>To request removal of your Personal Information from our blog or community forum, contact us at  info@getsavvier.com.  In some cases, we may not be able to remove your Personal Information, especially if it was already re-posted by another user.  If this is the case, we will let you know if we are unable to do so and why in response to your request.</p></li>

<li><p><b>Referrals.</b>   If you choose to use our referral service to tell a friend about our Services by email, we will ask for your friend’s email address, and send your friend a one-time email inviting them to visit our Website and inform them of our Services.  We will only store your friend’s email address for the sole purpose of sending this one-time message and tracking the success of the referral program. Your friend may contact us at info@getsavvier.com to request that we remove this information from our database at any time.</p>

<p>If you submit any Personal Information relating to other people to us or to our service providers in connection with our Services, you represent that you have the authority to do so and to permit us to use the information in accordance with this Privacy Policy.  </p></li>

<p><li><b>Testimonials, Ratings and Reviews.</b>  If you submit testimonials, ratings, or reviews of the Services directly on our Website, any Personal Information you include will be displayed on the Website.  We may also partner with third-party service providers to collect and display ratings and review content on our Website.  If you provide our third-party service providers with your Personal Information in the process of submitting your rating and review, the content and Personal Information collected by a third party will be posted on our Website, absent your express instruction not to do so.  If you want your testimonial, rating, or review removed from our Website at any time, please contact us at info@getsavvier.com. </li></p>

<p><li><b>Opt-Out Policy.</b>   If, at any time after registering, you change your mind about receiving information from us or about the use of information volunteered by you, or if you prefer that we do not share your Personal Information with third parties for marketing purposes, please contact us at info@getsavvier.com.</li></p>

<p><li><b>Contact Us.</b>   If you have any questions or concerns relating to our use of your Personal Information, please email info@getsavvier.com.  Additionally, you may reach us by postal mail at:</p>

<p>Savvy Finances, LLC</p>
<p>Address: PO Box 194742, San Francisco, CA 94119-4742</p>
<p>Phone: 425-502-5280</p>
<p>Email: info@getsavvier.com </p>
</li>
</ol>


</div>
</div>
</body>