<% @title=": Payment Confirmation" %>
<script type="text/javascript">
    mixpanel.track("payment_thanks", {

    });
</script>

<!-- Google Code for Purchase thanks Conversion Page -->
<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 861537218;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "v_kWCPn3xG8QwofomgM";
  var google_conversion_value = 90.00;
  var google_conversion_currency = "USD";
  var google_remarketing_only = false;
  /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/861537218/?value=90.00&amp;currency_code=USD&amp;label=v_kWCPn3xG8QwofomgM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>

<script>
  fbq('track', 'Purchase', {
    value: 90.00,
    currency: 'USD'
  });
</script>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= stylesheet_link_tag "application", media: "all" %>



<body style="background-color:#eee;">

<%= link_to root_path do %>
  <div class="header dashboard_header">
    <div class="dashboard-header-icon-block"><%= image_tag("flying_pig_header.png", class:"dashboard-header-icon") %> </div>
    <div class="dashboard-header-logo-block"> <%= image_tag("savvysaverlogo.png", class:"dashboard-header-logo") %></div>
      <br />
    </div>
  </div>
<% end %>


<div class="dashboard-content-block">

  <div class="dashboard-main-module">
    <div class="dashboard-big-headline">
      
        Thanks, you paid <strong><%=monetize(Stripe::Charge.retrieve(current_customer.payments.last.stripe_charge_id)[:amount])%>! <br /><br />
        <div class="spaced-row"></div>
        


    </div>

   </div>
   <div class="dashboard-main-module">
    <div class="dashboard-main-module-icon-block"><div class="fb-like" data-href="https://www.facebook.com/getsavvier" data-width="100px" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div></div>
    
    <div class="headline"><%= link_to "Like Us On Facebook", "https://www.facebook.com/getsavvier", class:"dashboard-link" %></div>
  </div>

  <div class="dashboard-main-module">
    <div class="dashboard-main-module-icon-block"><%= image_tag('piggybank2.png', class:"saver-header-icon") %></div>
    <div class="headline"><%= link_to "Refer A Friend", "https://www.getsavvier.com/invite", class:"dashboard-link" %></div>
  </div>

<%= link_to "Dashboard", root_path, class:"dashboard-link" %>
</div>
  </div>
</body>